<div class="page-title bgg">
    <div class="container clearfix">
      <div class="title-area pull-left">
        <h2>Opracowywanie Oceny Ryzyka Zawodowego</h2>
      </div><!-- /.pull-right -->
      <div class="pull-right hidden-xs">
        <div class="bread">
          <ol class="breadcrumb">
            <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
            <li class="active">Opracowywanie Oceny Ryzyka Zawodowego</li>
          </ol>
        </div><!-- end bread -->
      </div><!-- /.pull-right -->
    </div>
  </div><!-- end page-title -->
  
  <section class="section bgw">
    <div class="container">
        <div class="row">
            <div id="post-content" class="col-md-8 col-sm-12 single-course">
  
                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Opracowywanie Oceny Ryzyka Zawodowego</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>
                        <p>Do podstawowych obowiązków pracodawcy należy zapewnienie bezpiecznych warunków pracy oraz badanie i zapoznanie pracowników z grożącymi im niebezpieczeństwami na stanowisku pracy. Kodeks pracy w art. 226 nakazuje pracodawcy:</p>
                        <ul>
                            <li>oceniać i dokumentować ryzyko zawodowe związane z wykonywaną pracą oraz stosować niezbędne środki profilaktyczne zmniejszające ryzyko,</li>
                            <li>informować pracowników o ryzyku zawodowym, które wiąże się z wykonywaną pracą, oraz o zasadach ochrony przed zagrożeniami.</li>
                        </ul>
                        <p>Służy do tego ocena ryzyka zawodowego, z którą zapoznaje się każdy nowo zatrudniony pracownik. Powinien ten fakt potwierdzić własnoręcznym podpisem, że został poinformowany o zagrożeniach występujących na jego stanowisku pracy.</p>
                        <p>Ocenę ryzyka zawodowego sporządza się w formie pisemnej. Powinna opisywać miejsce znajdowania się stanowiska w zakładzie pracy, jego powierzchnię, wysokość, stosunek powierzchni okien do podłogi oraz wszystkie pomieszczenia do jakich dostęp ma pracownik.</p>
                        <p>Kolejnym elementem, dobrze sporządzonej oceny ryzyka zawodowego są czynności, które wykonywane są codziennie na stanowisku pracy. Jest to istotne, gdyż będą one występowały także w badaniu każdego czynnika stanowiącego zagrożenie dla zdrowia lub życia. Ponieważ nie każdy czynnik ryzyka występuje podczas całego procesu pracy, a jedynie podczas niektórych czynności (np. porażenie prądem - podczas korzystania z urządzeń elektrycznych). Powinno się także określić, z jakich urządzeń, maszyn i narzędzi korzysta pracownik, aby dostosować działania profilaktyczne, zmierzające do zmniejszenia ryzyka występowania wypadków przy pracy.</p>
                    </div>
                </div><!-- end post-padding -->
            </div><!-- end col -->
            <div id="sidebar" class="col-md-4 col-sm-12 page-right-sidebar">              
                <bhp-right-sidebar></bhp-right-sidebar>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
  </section><!-- end section -->