<div class="page-title bgg">
  <div class="container clearfix">
    <div class="title-area pull-left">
      <h2>RODO <small>Zapoznaj się z rozporządzeniem w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych</small></h2>
    </div><!-- /.pull-right -->
    <div class="pull-right hidden-xs">
      <div class="bread">
        <ol class="breadcrumb">
          <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
          <li class="active">RODO</li>
        </ol>
      </div><!-- end bread -->
    </div><!-- /.pull-right -->
  </div>
</div><!-- end page-title -->
    
<section class="section bgw">
  <div class="container">
      <div class="row">
          <div id="post-content" class="col-md-12 col-sm-12 single-course">

              <div class="course-single-desc clearfix">
                  <div class="big-title">
                      <h2 class="related-title">
                          <span>Informacja o przetwarzaniu danych osobowych</span>
                      </h2>
                  </div><!-- end big-title -->
                    
                  <div>
                      <p>Zgodnie z art. 13 Rozporządzenia Parlamentu Europejskiego i Rady (UE) z dnia 27 kwietnia 2016 r. (2016/679) informuję, że:</p>
                      <ol>
                        <li><b>Administratorem</b> Państwa danych osobowych jest firma P&amp;F Piotr Forma z siedzibą w Łodzi przy ul. Tymienieckiego 16AB/1, NIP 773-241-04-51, tel. 791-127-368, e-mail: bhp@brperfekt.pl </li>
                        <li>Państwa dane osobowe przetwarzane będą na podstawie art. 6 ust. 1 lit. a, b lub c Rozporządzenia Parlamentu Europejskiego i Rady (UE) z dnia 27 kwietnia 2016 r. (2016/679) , tj. wtedy, gdy:</li>
                        <ol type="a">
                          <li>osoba,  której  dane  dotyczą  wyrazi  zgodę  na  przetwarzanie  swoich  danych  osobowych  w  jednym  lub  większej liczbie określonych celów lub</li>
                          <li>przetwarzanie  jest  niezbędne  do  wykonania  umowy,  której  stroną  jest  osoba,  której  dane  dotyczą,  lub  do  podjęcia działań na żądanie osoby, której dane dotyczą, przed zawarciem umowy lub</li>
                          <li>przetwarzanie jest niezbędne do wypełnienia obowiązku prawnego ciążącego na administratorze;</li>
                        </ol>
                        <p>w celu wykonywania zawartej z Państwem umowy, w tym w szczególności w celu:</p>
                        <ol type="a">
                          <li>organizacji i przeprowadzenia szkolenia w formie samokształcenia kierowanego (e-learning) - udostępnienia materiałów edukacyjnych na platformie e - learning, wydania zaświadczenia o jego ukończeniu;</li><li>organizacji i przeprowadzenie szkolenia w formie stacjonarnej - prowadzenia dziennika szkolenia i rejestru zaświadczeń oraz wydanie zaświadczenia o ukończeniu szkolenia;</li><li>pomocy w zapewnieniu dotrzymania wymaganych prawem obowiązkowych terminów szkoleń BHP (wpisania do terminarzu szkoleń)</li><li>odebrania danych niezbędnych do realizacji zleconej usługi (poczty e-mail );</li><li>realizacji usługi nadzoru BHP w firmach, z którymi zawarto umowę na świadczenie usług lub usługi jednorazowej w zakresie BHP i PPOŻ zamówionej przez klienta;</li><li>wystawienia dowodu zakupu.</li>
                        </ol>
                        <li>W opisanym powyżej celach możemy przetwarzać następujące <b>kategorie</b> Państwa <b>danych osobowych</b>:</li>
                        <ul>
                          <li>imię i nazwisko,</li>
                          <li>adres e-mail,</li>
                          <li>numer telefonu,</li>
                          <li>stanowisko i miejsce zatrudnienia,</li>
                          <li>data i miejsce urodzenia,</li>
                          <li>nazwa firmy,</li>
                          <li>adres – siedziba firmy,</li>
                          <li>numer NIP,</li>
                          <li>informacja o stopniu niepełnosprawności,</li>
                          <li>informacja o skutkach wypadku przy pracy,</li>
                          <li>pesel,</li>
                          <li>imię ojca,</li>
                          <li>adres zamieszkania,</li>
                          <li>seria i numer dokumentu tożsamości.</li>
                        </ul>
                        <li>Podanie danych osobowych jest ustawowym warunkiem zawarcia umowy i jest dobrowolne, jednakże niepodanie danych w zakresie wymaganym przez administratora może skutkować niewykonaniem umowy. W pozostałych przypadkach opiera się na dobrowolnej zgodzie osoby udostępniającej swoje dane osobowe lub przepisach prawa (w szczególności ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016r. - RODO), jednakże niepodanie danych w zakresie wymaganym przez administratora może skutkować niemożliwością wykonania umowy.</li>
                        <li>W zależności od celu przetwarzania, Państwa dane będą <b>usunięte</b>:</li>
                        <ol type="a">
                          <li>po utracie ważności zaświadczenia o odbytym szkoleniu;</li>
                          <li>po upływie terminu, w którym możliwe jest dochodzenie roszczeń w związku z wykonywaniem umowy. Maksymalnie do 5 lat po rozwiązaniu umowy;</li>
                          <li>po czasie upływu terminu przedawnienia zobowiązania podatkowego;</li>
                          <li>po cofnięciu zgody na przetwarzanie danych osobowych;</li>
                          <li>niezwłocznie po realizacji usługi (poczta e-mail).</li>
                        </ol>
                        <li>Przysługuje Państwu <b>prawo</b> dostępu do treści danych oraz ich sprostowania, usunięcia lub ograniczenia przetwarzania, a także prawo sprzeciwu, zażądania zaprzestania przetwarzania i przenoszenia danych, jak również prawo do cofnięcia zgody w dowolnym momencie oraz prawo do wniesienia skargi do organu nadzorczego tj. – Prezes Urzędu Ochrony Danych Osobowych)</li>
                        <li>Dane udostępnione przez Państwa nie będą podlegały udostępnieniu podmiotom trzecim, <b>nie będą</b> przekazywane do państwa trzeciego lub organizacji międzynarodowej . Odbiorcami danych mogą być jednak  instytucje upoważnione z mocy prawa.</li>
                        <li>Państwa dane <b>nie będą przetwarzane w sposób zautomatyzowany</b> w tym również w formie profilowania.</li>
                        <li>Administrator dokłada wszelkich starań, aby zapewnić wszelkie środki fizycznej, technicznej i organizacyjnej ochrony danych osobowych przed ich przypadkowym czy umyślnym zniszczeniem, przypadkową utratą, zmianą, nieuprawnionym ujawnieniem, wykorzystaniem czy dostępem, zgodnie ze wszystkimi obowiązującymi przepisami.</li>                        
                      </ol>
                  </div>
              </div><!-- end post-padding -->             
          </div><!-- end col -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end section -->