<section class="section bgw">
  <div class="container">
      <div class="row">
          <div id="post-content" class="col-md-12 col-sm-12">
              <div class="notfound">
                  <h2>Błąd 404</h2> 
                  <p>Przepraszamy, strona której szukasz nie istnieje. <br>Proszę kliknąć przycisk poniżej aby wrócić na stronę główną.</p>
                  <button class="button button--rayen" data-text="Powrót" (click)="goToHomePage()">Wróć na stronę główną</button>
             </div>
          </div><!-- end col -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end section -->