<div class="page-title bgg">
  <div class="container clearfix">
    <div class="title-area pull-left">
      <h2>Szkolenie PPOŻ</h2>
    </div><!-- /.pull-right -->
    <div class="pull-right hidden-xs">
      <div class="bread">
        <ol class="breadcrumb">
          <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
          <li class="active">Szkolenie PPOŻ</li>
        </ol>
      </div><!-- end bread -->
    </div><!-- /.pull-right -->
  </div>
</div><!-- end page-title -->
  
<section class="section bgw">
    <div class="container">
        <div class="row">
            <div id="post-content" class="col-md-8 col-sm-12 single-course">
  
                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Szkolenie PPOŻ</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>
                        <p>Zgodnie z Ustawą o Ochronie przeciwpożarowej z dnia 24 sierpnia 1991r. Art.4 Właściciel budynku, obiektu budowlanego lub terenu zapewniając ich ochronę przeciwpożarową jest obowiązany zapoznać pracowników z przepisami przeciwpożarowymi. Chociaż żaden przepis szczegółowy nie określa ich zasad, muszą być one dostosowane do specyfiki pracy na określonym stanowisku.</p>
                        <p>Posiadanie przed pracownika umiejętności reagowania w sytuacjach pożaru oraz wiedza na temat unikania czynników mogących do niego doprowadzić, nie powinna być lekceważona przez pracodawcę. Sprawne działanie może ocalić życie ludzkie, a także nie dopuścić do znacznych strat finansowych.</p>
                        <p>Szkolenia przeciwpożarowe powinny być częścią szkolenia wstępnego podstawowego oraz instruktażu ogólnego, który przechodzą wszyscy nowo zatrudnieni pracownicy, a także studenci odbywający praktyki zawodowe oraz uczniowie szkół zawodowych odbywający praktyczną naukę zawodu w firmie, przed dopuszczeniem ich do wykonywania pracy.</p>
                        <p>Celem szkolenia jest przygotowanie pracowników z zakresu podstawowych zasad zabezpieczenia przeciwpożarowego urządzeń i instalacji budynków, obiektów i terenów, zastosowanie urządzeń przeciwpożarowych, sprzętu pożarniczego i ratowniczego.</p>
                        <ul>
                          <li>utrzymać urządzenia przeciwpożarowe i gaśnice w stanie pełnej sprawności technicznej i funkcjonalnej,</li>
                          <li>wyposażyć obiekty, zgodnie z wymaganiami przepisów techniczno-budowlanych, w przeciwpożarowe wyłączniki prądu,</li>
                          <li>umieścić w widocznych miejscach instrukcje postępowania na wypadek pożaru wraz z wykazem telefonów alarmowych,</li>
                          <li>oznakować, znakami zgodnymi z Polskimi Normami dotyczącymi znaków bezpieczeństwa drogi ewakuacyjne, miejsca usytuowania gaśnic, miejsca wyłączników prądu, kurków gazowych.</li>
                        </ul>
                    </div>
                </div><!-- end post-padding -->

                <hr class="invis">
                
                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Właściciel, zarządca lub użytkownik obiektu ma obowiązek:</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>
                        <ul>                          
                          <li>wyznaczyć i przeszkolić pracownika odpowiedzialnego za procedury ewakuacyjne na wypadek wystąpienia pożaru,</li>
                          <li>przestrzegać przeciwpożarowych wymagań techniczno-budowlanych, instalacyjnych i technologicznych,</li>
                          <li>zapewnić konserwację oraz naprawy urządzeń przeciwpożarowych i gaśnic w sposób gwarantujący ich sprawne i niezawodne funkcjonowanie,</li>
                          <li>wyposażyć budynek, obiekt budowlany lub teren w wymagane urządzenia przeciwpożarowe gaśnice,</li>
                          <li>zapewnić osobom przebywającym w budynku, obiekcie budowlanym lub na terenie, bezpieczeństwo i możliwość ewakuacji,</li>
                          <li>przygotować budynek, obiekt budowlany lub teren do prowadzenia akcji ratowniczej,</li>
                          <li>zapoznać pracowników z przepisami przeciwpożarowymi,</li>
                          <li>ustalić sposoby postępowania na wypadek powstania pożaru, klęski żywiołowej lub innego miejscowego zagrożenia.</li>
                        </ul>
                    </div>
                </div><!-- end post-padding -->
            </div><!-- end col -->
            <div id="sidebar" class="col-md-4 col-sm-12 page-right-sidebar">              
                <bhp-right-sidebar></bhp-right-sidebar>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
  </section><!-- end section -->