<div class="page-title bgg">
    <div class="container clearfix">
        <div class="title-area pull-left">
            <h2>Witaj w panelu szkoleń BHP <small>Poniżej znajuje się wszystko to co dotyczy Twojego konta i aktualnie przeprowadzanych szkoleń BHP.<br>
                W razie pytań lub klopotów skorzystaj z bocznego panelu KONTAKT aby uzyskać szybką pomoc!</small></h2>
        </div><!-- /.pull-right -->
        <div class="pull-right hidden-xs">
            <div class="bread">
                <ol class="breadcrumb">
                    <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
                    <li class="active">Panel szkoleń BHP</li>
                </ol>
            </div><!-- end bread -->
        </div><!-- /.pull-right -->
    </div>
</div><!-- end page-title -->
<div class="container" id="dashboard-container">    
    <div class="row">
        <div id="sidebar" class="col-md-3 col-sm-12 page-left-sidebar">
            <bhp-activity></bhp-activity>
        </div><!-- end right -->

        <div id="sidebar1" class="col-md-6 col-sm-12">
            <div class="widget clearfix">
                <div class="member-profile">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Panel użytkownika {{userInfo?.email}}</span>
                        </h2>
                    </div><!-- end big-title -->

                <p>Howdy, welcome to the my profile, we build professional responsive and retina ready template for online learning websites! With our professional course pages, you can earn money from your online courses. Join us today! Create and share outstanding quiz's, ask questions and get answer from your awesome clients!</p>

                <p>Lorem Ipsum has been the industry's standard dummy text ever since the, when an unknown printer took Lorem Ipsum has been the industry's standard dummy text ever since the, when an unknown printer took. With our professional course pages, you can earn money from your online courses. Join us today! Create and share outstanding quiz's, ask questions and get answer from your awesome clients!</p>

                </div><!-- end team-member -->
            </div>
        </div><!-- end right -->

        <div id="sidebar2" class="col-md-3 col-sm-12 mob30">
            <div class="widget clearfix">
                <div class="member-profile">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Kontakt</span>
                        </h2>
                    </div><!-- end big-title -->

                    <div class="loginform">
                        <form class="row">
                            <div class="col-md-12">
                            <input type="text" name="name" class="form-control" placeholder="Imię">
                            <input type="email" name="email"  class="form-control" placeholder="Email">
                            <input type="text" name="name" class="form-control" placeholder="Telefon">
                            <textarea class="form-control" name="comments" rows="6" placeholder="Zadaj pytanie"></textarea>
                            <button type="submit" value="SEND" class="button button--wayra btn-block btn-square"> Kontakt</button>
                            </div>
                        </form> 
                    </div>
                </div><!-- end team-member -->
            </div>
        </div><!-- end right -->
    </div><!-- end row -->
</div><!-- end container -->