<div class="page-title bgg">
  <div class="container clearfix">
    <div class="title-area pull-left">
      <h2>Opracowywanie instrukcji bezpieczeństwa przeciwpożarowego</h2>
    </div><!-- /.pull-right -->
    <div class="pull-right hidden-xs">
      <div class="bread">
        <ol class="breadcrumb">
          <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
          <li class="active">Opracowywanie instrukcji bezpieczeństwa przeciwpożarowego</li>
        </ol>
      </div><!-- end bread -->
    </div><!-- /.pull-right -->
  </div>
</div><!-- end page-title -->
    
<section class="section bgw">
  <div class="container">
      <div class="row">
          <div id="post-content" class="col-md-8 col-sm-12 single-course">

              <div class="course-single-desc clearfix">
                  <div class="big-title">
                      <h2 class="related-title">
                          <span>Opracowywanie instrukcji bezpieczeństwa przeciwpożarowego</span>
                      </h2>
                  </div><!-- end big-title -->
                    
                  <div>
                      <p>Nakaz sporządzenia instrukcji bezpieczeństwa pożarowego określają przepisy rozporządzenia MSWiA z dn. 7 czerwca 2010 r. odnośnie ochrony przeciwpożarowej budynków, innych obiektów budowlanych i terenów (Dz. U. 109, poz. 719 z dnia 22 czerwca 2010 r.). Według tych regulacji, wymóg taki dotyczy właściciela, administratora bądź użytkownikach danego obiektu.</p>
                      <p>Instrukcja bezpieczeństwa pożarowego niezbędna jest dla obiektów lub ich części, które stanowią osobne strefy pożarowe, dla budynków pełniących funkcje użyteczności publicznej, mieszkalnictwa zbiorowego, obiektów produkcyjnych, magazynowych, a także inwentarskich, gdzie istnieje strefa zagrożenia wystąpienia wybuchu, lub:</p>
                      <ul>                        
                        <li>kubatura brutto budynku bądź jego fragmentu, będącego odrębną strefę pożarową wynosi ponad 1000 m<sup>3</sup> nie odnosi się obiektów inwentarskich,</li>
                        <li>kubatura brutto budowlanego obiektu inwentarskiego przekracza 1500 m<sup>3</sup>,</li>
                        <li>obszar strefy pożarowej obiektu niebędącego budynkiem wynosi przeszło 1000 m<sup>2</sup>.</li>
                      </ul>
                  </div>
              </div><!-- end post-padding -->

              <hr class="invis">
              
              <div class="course-single-desc clearfix">
                  <div class="big-title">
                      <h2 class="related-title">
                          <span>Prawidłowa instrukcja uwzględnia następujące elementy:</span>
                      </h2>
                  </div><!-- end big-title -->
                    
                  <div>
                      <ul>                                             
                        <li>uwarunkowania ochrony przeciwpożarowej, które wynikają z przeznaczenia, sposobu eksploatacji, realizowanego procesu technologicznego, czy też magazynowania (przechowywania) oraz warunków technicznych obiektu, w tym ryzyka wybuchu,</li>
                        <li>zdefiniowanie wyposażenia w określone urządzenia przeciwpożarowe oraz gaśnice, a także sposoby przeprowadzania ich przeglądów technicznych i zabiegów konserwacyjnych,</li>
                        <li>procedury postępowania w sytuacji pożaru bądź innego zagrożenia,</li>
                        <li>uwarunkowania i organizację ewakuacji osób oraz faktyczne sposoby ich weryfikacji,</li>
                        <li>procedury zapoznania użytkowników obiektu, w tym personelu pracującego, z formalnymi regulacjami przeciwpożarowymi oraz zawartością przedmiotowej instrukcji,</li>
                        <li>wymogi i obowiązki dotyczące ochrony ppoż. dla osób, które są ich stałymi użytkownikami,</li>
                        <li>plany obiektów, określające również ich usytuowanie, a także terenu przylegającego z uwzględnieniem parametrów graficznych.</li>
                      </ul>
                      <p>Instrukcja bezpieczeństwa pożarowego podlega wymogowi okresowej aktualizacji, nie rzadziej niż raz na dwa lata, jak również po nastąpieniu takich zmian sposobu eksploatacji obiektu lub procesu technologicznego, które doprowadzą do wystąpienia innych warunków ochrony przeciwpożarowej.</p>
                  </div>
              </div><!-- end post-padding -->
          </div><!-- end col -->
          <div id="sidebar" class="col-md-4 col-sm-12 page-right-sidebar">              
              <bhp-right-sidebar></bhp-right-sidebar>
          </div><!-- end col -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end section -->