<div class="page-title bgg">
    <div class="container clearfix">
      <div class="title-area pull-left">
        <h2>Nadzór nad właściwym oznakowaniem obiektów w zakresie BHP i PPOŻ.</h2>
      </div><!-- /.pull-right -->
      <div class="pull-right hidden-xs">
        <div class="bread">
          <ol class="breadcrumb">
            <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
            <li class="active">Nadzór nad właściwym oznakowaniem obiektów w zakresie BHP i PPOŻ.</li>
          </ol>
        </div><!-- end bread -->
      </div><!-- /.pull-right -->
    </div>
  </div><!-- end page-title -->
  
  <section class="section bgw">
    <div class="container">
        <div class="row">
            <div id="post-content" class="col-md-8 col-sm-12 single-course">
  
                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Nadzór nad właściwym oznakowaniem obiektów w zakresie BHP i PPOŻ.</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>
                        <p>Zgodnie z rozporządzeniem Ministra Spraw Wewnętrznych I Administracji w sprawie ochrony przeciwpożarowej budynków, innych obiektów budowlanych i terenów właściciele, zarządcy lub użytkownicy budynków oraz placów składowych i wiat (z wyjątkiem budynków mieszkalnych jednorodzinnych) mają obowiązek oznakowania znakami zgodnymi z Polskimi Normami szereg elementów z zakresu ochrony przeciwpożarowych dotyczących m.in. ewakuacji, podręcznego sprzętu gaśniczego, urządzeń przeciwpożarowych, zaopatrzenia w wodę do zewnętrznego gaszenia pożaru, dróg pożarowych.</p>
                        <p>Zgodnie z rozporządzeniem §33. Rozporządzenia Ministra Spraw Wewnętrznych i Administracji z dnia 7 czerwca 2010 r. w sprawie ochrony przeciwpożarowej budynków, innych obiektów budowlanych i terenów (Dz. U. z dnia 22 czerwca 2010 r. Nr 109 poz. 719)] z każdego miejsca w obiekcie, które jest przeznaczone do przebywania w nim ludzi, należy zapewnić odpowiednie warunki ewakuacji, które muszą umożliwić szybkie i bezpieczne opuszczenie strefy, która może być zagrożona lub objęta pożarem.</p>                                                
                    </div>
                </div><!-- end post-padding -->

                <hr class="invis">

                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Prawidłowe oznakowanie obiektów powinno obejmować następujące elementy:</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>                        
                        <ul>
                            <li>oznakowanie dróg ewakuacyjnych oraz pomieszczeń, w których wymagane są co najmniej 2 wyjścia ewakuacyjne,</li>
                            <li>oznakowanie miejsc usytuowania urządzeń przeciwpożarowych,</li>
                            <li>umieszczenie w miejscach widocznych wykazu telefonów alarmowych oraz instrukcji postępowania na wypadek pożaru,</li>
                            <li>oznakowanie elementów sterujących urządzeniami przeciwpożarowymi.</li>                            
                        </ul>
                        <p>Znakami ewakuacyjnymi określa się znaki informacyjne o kształcie prostokąta lub kwadratu, które dostarczają wizualnej informacji o przebiegu drogi ewakuacyjnej. Powinny być widoczne przy świetle dziennym, sztucznym oraz w przypadku kiedy nie są oświetlone żadnym światłem.</p>
                        <p>Znaki ewakuacyjne są niezwykle ważnym elementem wpływającym na bezpieczeństwo i sprawność przeprowadzania ewakuacji. W sytuacji zagrożenia znaki ewakuacyjne mają bardzo ważną funkcję – dzięki dobrze widocznym i zrozumiałym piktogramom wskazują jednoznacznie kierunek ewakuacji i dzięki temu wprowadzają racjonalne zachowanie się ludzi.</p>
                        <p>Oznakowanie PPOŻ obiektu spełnia równie ważną funkcję, ponieważ pozwala jednoznacznie określić w których miejscach zlokalizowane są urządzenia przeciwpożarowe (hydranty, podręczny sprzęt gaśniczy), pozwalające na skuteczną walkę z ogniem. Sprzęt rozmieszczony w obiekcie powinien być oznakowany w sposób widoczny, umożliwiający łatwą lokalizacje i użycie. Należy pamiętać, że w warunkach pożaru, kiedy dym utrudnia oddychanie i zmniejsza widoczność, odpowiednio dobrane i umieszczone znaki fluorescencyjne (świecące w ciemności) ułatwiają podjęcie szybkiej i sprawnej akcji gaśniczej. Pozwala to znacznie ułatwić ewakuacje oraz pomniejszyć straty pożarowe.</p>
                    </div>
                </div><!-- end post-padding -->
            </div><!-- end col -->
            <div id="sidebar" class="col-md-4 col-sm-12 page-right-sidebar">              
                <bhp-right-sidebar></bhp-right-sidebar>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
  </section><!-- end section -->