<div class="page-title bgg">
	<div class="container clearfix">
		<div class="title-area pull-left">
			<h2>Zaloguj się <small>i uzyskaj dostęp do kursów BHP online!</small></h2>
		</div><!-- /.pull-right -->
		<div class="pull-right hidden-xs">
			<div class="bread">
				<ol class="breadcrumb">
					<li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
					<li class="active">Logowanie</li>
				</ol>
			</div><!-- end bread -->
		</div><!-- /.pull-right -->
	</div>
</div><!-- end page-title -->

<section class="section bgw">
	<div class="container">

		<div class="section-title-2 text-center">
			<h2>Logowanie</h2>
			<hr>
		</div><!-- end section-title -->

		<div class="row">

			<div class="col-md-offset-2 col-md-8">
				<div class="contact_form">
					<form id="contactform" class="row" [formGroup]="loginForm" (ngSubmit)="login()">
						<!-- Alert with errors not connected with validation -->
						<div class="col-md-12" *ngIf="error">
							<div class="alert alert-danger" role="alert">
								<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								<span class="sr-only">Error:</span>
								{{error}}
							</div>
						</div>
						<div class="col-md-12">              
							<!-- Email -->
							<input type="text" class="form-control" formControlName="email" placeholder="Email" [ngClass]="{ 'input-error': (f.email.invalid && f.email.touched) }">
							<div class="form-error" *ngIf="f.email.errors && f.email.touched">
								<p *ngIf="f.email.errors?.required">Pole jest wymagane!</p>
								<p *ngIf="f.email.errors?.email">Pole musi zawierać poprawny adres email!</p>
							</div>
							<!-- Password -->
							<input type="password" class="form-control" formControlName="password" placeholder="Hasło" [ngClass]="{ 'input-error': (f.password.invalid && f.password.touched) }">
							<div class="form-error" *ngIf="f.password.errors && f.password.touched">
								<p *ngIf="f.password.errors?.required">Pole jest wymagane!</p>								
							</div>
							<!-- Accept form -->
							<button type="submit" [disabled]="loginForm.invalid" value="Zaloguj" class="btn btn-primary btn-square">Zaloguj</button>
						</div>
					</form> 
				</div>
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->
</section><!-- end section -->
