<div class="page-title bgg">
  <div class="container clearfix">
      <div class="title-area pull-left">
          <h2>Usługi BHP cennik <small>Zapoznaj się z cenami naszych usług!</small></h2>
      </div><!-- /.pull-right -->
      <div class="pull-right hidden-xs">
          <div class="bread">
              <ol class="breadcrumb">
                  <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
                  <li class="active">Usługi BHP cennik</li>
              </ol>
          </div><!-- end bread -->
      </div><!-- /.pull-right -->
  </div>
</div><!-- end page-title -->

<section class="section bgw btop">
    <div class="container">
        <div class="section-title-2 text-center">
            <h2>Usługi BHP cennik</h2>
            <p class="lead">Powyższy cennik zawiera orientacyjne koszty usług proponowanych przez naszą firmę. Każda oferta wyceniana jest indywidualnie i dostosowana do aktualnych zapotrzebowań klienta. Dlatego zachęcamy Państwa do kontaktu telefonicznego lub przesyłania zapytań drogą elektroniczną.</p>
            <hr>
        </div><!-- end section-title -->

        <div class="row display-flex">
            <div class="col-md-4 col-sm-6 mob20">
                <div class="pricingbox custom-widget whitebg">    
                    <div class="customwidget text-center w40">
                        <h3 class="widget-title">80 zł</h3>
                        <ul class="check">
                            <li>Ocena ryzyka zawodowego</li>
                        </ul>
                        <a class="btn btn-primary btn-block">Zamów teraz</a>
                    </div><!-- end newsletter -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-md-4 col-sm-6 mob20">
                <div class="pricingbox custom-widget whitebg">    
                    <div class="customwidget text-center w40">
                        <h3 class="widget-title">250 zł</h3>
                        <ul class="check">
                            <li>Postępowanie powypadkowe</li>
                        </ul>
                        <a class="btn btn-primary btn-block">Zamów teraz</a>
                    </div><!-- end newsletter -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-md-4 col-sm-6 mob20">
                <div class="pricingbox custom-widget whitebg">    
                    <div class="customwidget text-center w40">
                        <h3 class="widget-title">30 zł</h3>
                        <ul class="check">
                            <li>Instrukcje BHP</li>
                        </ul>
                        <a class="btn btn-primary btn-block">Zamów teraz</a>
                    </div><!-- end newsletter -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-md-4 col-sm-6 mob20">
                <div class="pricingbox custom-widget whitebg">    
                    <div class="customwidget text-center w40">
                        <h3 class="widget-title">100 zł</h3>
                        <ul class="check">
                            <li>Analiza i ocena stanu BHP w firmie</li>
                        </ul>
                        <a class="btn btn-primary btn-block">Zamów teraz</a>
                    </div><!-- end newsletter -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-md-4 col-sm-6 mob20">
                <div class="pricingbox custom-widget whitebg">    
                    <div class="customwidget text-center w40">
                        <h3 class="widget-title">100 zł</h3>
                        <ul class="check">
                            <li>Stały nadzór BHP</li>
                            <li>Kompleksowa obsługa BHP</li>
                        </ul>
                        <a class="btn btn-primary btn-block">Zamów teraz</a>
                    </div><!-- end newsletter -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <!--
            <div class="col-md-3 col-sm-12 mob20">
                <div class="pricingbox custom-widget">    
                    <div class="ribbon-wrapper-green"><div class="ribbon-green">Featured</div></div>
                    <div class="customwidget text-center w40">
                        <h3 class="widget-title"><sup>$</sup>80.00</h3>
                        <ul class="check">
                            <li>HTML5 & CSS Video Course</li>
                            <li>English Learning Course</li>
                            <li>SEO Strategy Course</li>
                            <li>Business & Internal Course</li>
                            <li>90 Days Money Back</li>
                            <li>Email Support</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block">Order Now</a>
                    </div>
                </div>
            </div>
            -->            
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->