<div class="page-title bgg">
  <div class="container clearfix">
    <div class="title-area pull-left">
      <h2>Szkolenia BHP wstępne i okresowe</h2>
    </div><!-- /.pull-right -->
    <div class="pull-right hidden-xs">
      <div class="bread">
        <ol class="breadcrumb">
          <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
          <li class="active">Szkolenia BHP wstępne i okresowe</li>
        </ol>
      </div><!-- end bread -->
    </div><!-- /.pull-right -->
  </div>
</div><!-- end page-title -->

<section class="section bgw">
  <div class="container">
      <div class="row">
          <div id="post-content" class="col-md-8 col-sm-12 single-course">

              <div class="course-single-desc clearfix">
                  <div class="big-title">
                      <h2 class="related-title">
                          <span>Szkolenia BHP wstępne</span>
                      </h2>
                  </div><!-- end big-title -->
                    <p><b></b>Przeznaczone są dla wszystkich osób rozpoczynających pracę. Szczegóły przeprowadzenia szkoleń BHP zostały zawarte w rozporządzeniu Ministra Gospodarki i Pracy z dnia 27 lipca 2004r. (Dz.U.04.180.1860 z późn. zm.)</p>                      
                  <div>

                  </div>
              </div><!-- end post-padding -->

              <hr class="invis">

              <div class="course-single-desc clearfix">
                  <div class="big-title">
                      <h2 class="related-title">
                          <span>Szkolenie wstępne dzielimy na:</span>
                      </h2>
                  </div><!-- end big-title -->
                    <p><b>Instruktaż ogólny</b> – zapewnia uczestnikom poznanie podstawowych przepisów BHP zawartych w Kodeksie Pracy, zasad udzielania pierwszej pomocy oraz regulaminów i zasad bezpieczeństwa i higieny pracy w danym zakładzie pracy. Instruktaż ogólny może przeprowadzić pracownik służby BHP lub inna osoba działająca na zlecenie pracodawcy pełniąca zadania tej służby.</p>
                    <p><b>Instruktaż stanowiskowy </b> – zapewnia pracownikom zapoznanie się z czynnikami środowiska pracy występującymi na ich stanowiskach, ryzykiem zawodowym, sposobami ochrony przed zagrożeniami oraz metodami bezpiecznego wykonywania pracy. Instruktaż powinno się przeprowadzić za każdym razem kiedy zmieniają się warunki pracy np. techniczno-organizacyjne oraz dla pracownika który zmienia stanowisko pracy. W przypadku gdy pracownik wykonuje pracę na kilku stanowiskach powinien odbyć instruktaż na każdym z nich. Instruktaż stanowiskowy może przeprowadzić pracodawca lub inna osoba kierująca pracownikami jeżeli posiada odpowiednie kwalifikacje, doświadczenie zawodowe oraz przeszkolenie w zakresie prowadzenia instruktażu stanowiskowego.</p>
                  <div>

                  </div>
              </div><!-- end post-padding -->

              <hr class="invis">

              <div class="course-single-desc clearfix">
                  <div class="big-title">
                      <h2 class="related-title">
                          <span>Szkolenia BHP okresowe dla:</span>
                      </h2>
                  </div><!-- end big-title -->

                  <div>
                    <ul>
                      <li>pracodawców,</li>
                      <li>osób kierujących pracownikami,</li>
                      <li>pracowników administracyjno-biurowych,</li>
                      <li>pracowników zatrudnionych na stanowiskach robotniczych,</li>
                      <li>pracowników inżynieryjno-technicznych.</li>
                    </ul>
                    <p>Szkolenie okresowe przeprowadza się w trakcie trwania zatrudnienia. Jest ono niezbędne do dalszego wykonywania przez pracownika obowiązków na obejmowanym przez siebie stanowisku. Szkolenie okresowe ma na celu zapoznanie pracowników z nowymi przepisami w zakresie bezpieczeństwa i higieny pracy. Ponadto pozwalają pracownikom uzupełnić swoją wiedzę i umiejętności z zakresu bhp. Szkolenia powinny odbywać się w godzinach pracy. Jeśli z jakichkolwiek przyczyn jest to niemożliwe, wówczas traktuje się je jako pracę w godzinach nadliczbowych. W obydwu przypadkach zatrudniony powinien otrzymać zaświadczenia informujące o ich ukończeniu.</p>
                  </div>                
              </div><!-- end post-padding -->

              <hr class="invis">

              <div class="course-single-desc clearfix">
                  <div class="big-title">
                      <h2 class="related-title">
                          <span>Obowiązek odbycia szkolenia okresowego mają:</span>
                      </h2>
                  </div><!-- end big-title -->

                  <div>
                      <ul>
                          <li>osoby będące pracodawcami oraz inne osoby kierujące pracownikami,</li>
                          <li>pracownicy zatrudnieni na stanowiskach robotniczych,</li>
                          <li>pracownicy inżynieryjno-techniczni,</li>
                          <li>pracownicy służby bezpieczeństwa i higieny pracy i inne osoby wykonujące zadania tej służby,</li>
                          <li>pracownicy administracyjno-biurowi.</li>
                      </ul>
                  </div>                
              </div><!-- end post-padding -->

              <hr class="invis">

              <div class="course-single-desc clearfix">
                  <div class="big-title">
                      <h2 class="related-title">
                          <span>Szkolenie okresowe powinno odbywać się:</span>
                      </h2>
                  </div><!-- end big-title -->

                  <div>
                      <ul>
                          <li>nie rzadziej niż raz na 3 lata - szkolenie okresowe pracowników zatrudnionych na stanowiskach robotniczych, przeprowadza się je w formie instruktażu,</li>
                          <li>nie rzadziej niż raz w roku – szkolenia okresowe pracowników zatrudnionych na stanowiskach robotniczych, na których są wykonywane prace szczególnie niebezpieczne,</li>
                          <li>nie rzadziej niż raz na 5 lat - szkolenie okresowe osób będących pracodawcami oraz innych osób kierujących pracownikami, w szczególności kierowników, mistrzów i brygadzistów; pracowników inżynieryjno-technicznych, pracowników służby bezpieczeństwa i higieny pracy i innych osób wykonujących zadania tej służby; powinno być przeprowadzane w formie kursu, seminarium lub samokształcenia kierowanego,</li>
                          <li>nie rzadziej niż raz na 6 lat – szkolenie okresowe pracowników administracyjno-biurowi; powinno być przeprowadzane w formie kursu, seminarium lub samokształcenia kierowanego.</li>                          
                      </ul>
                  </div>                
              </div><!-- end post-padding -->              
          </div><!-- end col -->
          <div id="sidebar" class="col-md-4 col-sm-12 page-right-sidebar">              
              <bhp-right-sidebar></bhp-right-sidebar>
          </div><!-- end col -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end section -->