<div class="page-title bgg">
    <div class="container clearfix">
      <div class="title-area pull-left">
        <h2>Opracowywanie Planu bezpieczeństwa i ochrony zdrowia (BIOZ)</h2>
      </div><!-- /.pull-right -->
      <div class="pull-right hidden-xs">
        <div class="bread">
          <ol class="breadcrumb">
            <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
            <li class="active">Opracowywanie Planu bezpieczeństwa i ochrony zdrowia (BIOZ)</li>
          </ol>
        </div><!-- end bread -->
      </div><!-- /.pull-right -->
    </div>
  </div><!-- end page-title -->
  
  <section class="section bgw">
    <div class="container">
        <div class="row">
            <div id="post-content" class="col-md-8 col-sm-12 single-course">
  
                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Opracowywanie Planu bezpieczeństwa i ochrony zdrowia (BIOZ)</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>
                        <p>Kierownik budowy jest obowiązany, w oparciu o przygotowaną przez projektanta informację dotyczącą bezpieczeństwa i ochrony zdrowia ze względu na specyfikę projektowanego obiektu budowlanego, sporządzić lub zapewnić sporządzenie, przed rozpoczęciem budowy, <b>planu bezpieczeństwa i ochrony zdrowia (planu BIOZ)</b>, uwzględniając specyfikę obiektu budowlanego i warunki prowadzenia robót budowlanych, w tym planowane jednoczesne prowadzenie robót budowlanych i produkcji przemysłowej.</p>
                    </div>
                </div><!-- end post-padding -->

                <hr class="invis">
                
                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Plan BIOZ na budowie sporządza się, jeżeli:</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>
                        <ul>
                          <li>wykonywany będzie przynajmniej jeden z poniższych rodzajów robót budowlanych:</li>
                            <ul>
                              <li>stwarzające szczególnie wysokie ryzyko powstania zagrożenia bezpieczeństwa i zdrowia ludzi (przysypanie ziemią lub upadek z wysokości),</li>
                              <li>przy których występuje działanie substancji chemicznych lub czynników biologicznych zagrażających bezpieczeństwu i zdrowiu ludzi,</li>
                              <li>stwarzające zagrożenie promieniowaniem jonizującym,</li>
                              <li>prowadzone w pobliżu linii wysokiego napięcia/czynnych linii komunikacyjnych,</li>
                              <li>stwarzające ryzyko utonięcia pracowników,</li>
                              <li>prowadzone w studniach, pod ziemią i w tunelach,</li>
                              <li>wykonywane przez kierujących pojazdami zasilanymi z linii napowietrznych,</li>
                              <li>wykonywane w kesonach, z atmosferą wytwarzaną ze sprężonego powietrza,</li>
                              <li>wymagające użycia materiałów wybuchowych,</li>
                              <li>prowadzone przy montażu/demontażu ciężkich elementów prefabrykowanych.</li>
                            </ul>
                          <li>przewidywany czas trwania robót jest dłuższy niż 30 dni roboczych z udziałem co najmniej 20 pracowników lub pracochłonność robót większa niż 500 osobodni.</li>
                        </ul>
                    </div>
                </div><!-- end post-padding -->

                <hr class="invis">

                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Strona tytułowa planu BIOZ zawiera:</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>
                        <ul>
                          <li>nazwę i adres obiektu budowlanego,</li>
                          <li>imię i nazwisko lub nazwę inwestora oraz jego adres,</li>
                          <li>imię i nazwisko oraz adres kierownika budowy oraz sporządzającego plan BIOZ.</li>                         
                        </ul>
                    </div>
                </div><!-- end post-padding -->

                <hr class="invis">

                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Część opisowa zawiera w szczególności:</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>
                        <ul>                          
                          <li>zakres robót i kolejność realizacji poszczególnych obiektów,</li>
                          <li>wykaz istniejących obiektów budowlanych podlegających adaptacji lub rozbiórce,</li>
                          <li>wskazanie elementów zagospodarowania działki lub terenu, które mogą stwarzać zagrożenie bezpieczeństwa i zdrowia ludzi,</li>
                          <li>informacje dotyczące przewidywanych zagrożeń występujących podczas realizacji robót budowlanych,</li>
                          <li>informację o wydzieleniu i oznakowaniu miejsca prowadzenia robót budowlanych,</li>
                          <li>informację o sposobie prowadzenia instruktażu pracowników przed przystąpieniem do realizacji robót szczególnie niebezpiecznych,</li>
                          <li>określenie sposobu przechowywania i przemieszczania materiałów, wyrobów, substancji oraz preparatów niebezpiecznych na terenie budowy,</li>
                          <li>wskazanie środków technicznych i organizacyjnych, zapobiegających niebezpieczeństwom wynikającym z wykonywania robót budowlanych w strefach szczególnego zagrożenia zdrowia lub w ich sąsiedztwie,</li>
                          <li>wskazanie miejsca przechowywania dokumentacji budowy oraz dokumentów nie-zbędnych do prawidłowej eksploatacji maszyn i innych urządzeń technicznych.</li>                        
                        </ul>
                    </div>
                </div><!-- end post-padding -->

                <hr class="invis">

                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Część rysunkowa zawiera w szczególności:</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>
                        <ul>                                                    
                          <li>czytelną legendę,</li>
                          <li>oznaczenie czynników mogących stwarzać zagrożenie,</li>
                          <li>rozmieszczenie urządzeń przeciwpożarowych wraz z parametrami poboru mediów, punktami czerpalnymi, zaworami odcinającymi, drogami dojazdowymi,</li>
                          <li>rozmieszczenie sprzętu ratunkowego (w tym pływającego, jeżeli jest to uzasadnione rodzajem robót), niezbędnego przy prowadzeniu robót budowlanych,</li>
                          <li>rozmieszczenie i oznaczenie granic obszarów wewnętrznych i zewnętrznych stref ochronnych, wynikających z przepisów odrębnych, takich jak strefy magazynowania i składowania materiałów, wyrobów, substancji oraz preparatów niebezpiecznych, strefy pracy sprzętu zmechanizowanego i pomocniczego,</li>
                          <li>rozmieszczenie placów produkcji pomocniczej, takich jak węzły produkcji betonu cementowego i asfaltowego, prefabrykatów,</li>
                          <li>przedstawienie rozwiązań układów komunikacyjnych, transportu na potrzeby budowy oraz ogrodzenia terenu,</li>
                          <li>lokalizację pomieszczeń higieniczno-sanitarnych.</li>
                        </ul>
                        <p>Kierownik budowy, wprowadzając w części opisowej i w części rysunkowej planu bioz zmiany, zamieszcza adnotację określającą przyczyny ich wprowadzenia.</p>
                    </div>
                </div><!-- end post-padding -->
            </div><!-- end col -->
            <div id="sidebar" class="col-md-4 col-sm-12 page-right-sidebar">              
                <bhp-right-sidebar></bhp-right-sidebar>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
  </section><!-- end section -->