<div class="page-title bgg">
    <div class="container clearfix">
      <div class="title-area pull-left">
        <h2>Dobór środków ochrony zbiorowej i indywidualnej</h2>
      </div><!-- /.pull-right -->
      <div class="pull-right hidden-xs">
        <div class="bread">
          <ol class="breadcrumb">
            <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
            <li class="active">Dobór środków ochrony zbiorowej i indywidualnej</li>
          </ol>
        </div><!-- end bread -->
      </div><!-- /.pull-right -->
    </div>
  </div><!-- end page-title -->
  
  <section class="section bgw">
    <div class="container">
        <div class="row">
            <div id="post-content" class="col-md-8 col-sm-12 single-course">
  
                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Dobór środków ochrony zbiorowej i indywidualnej</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>
                        <p>Środki ochrony indywidualnej to odzież ochronna (np. ochraniacze brzucha, klatki piersiowej, barku) oraz środki ochrony kończyn (ochraniacze stóp, obuwie ochronne, ochraniacze kolan, łokci, dłoni itd.), głowy (głównie hełmy), twarzy i oczu, m.in. okulary ochronne, słuchu (nauszniki, wkładki przeciwhałasowe itp.), układu oddechowego, izolujące cały organizm, (np. kombinezony gazoszczelne, środki chroniące przed upadkiem z wysokości).</p>                        
                    </div>
                </div><!-- end post-padding -->

                <hr class="invis">

                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Stosowanie środków ochrony indywidualnej</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>  
                        <p>Środki ochrony indywidualnej powinny być stosowane w sytuacjach, kiedy nie można:</p>                      
                        <ul>
                            <li>uniknąć zagrożeń,</li>
                            <li>wystarczająco ich ograniczyć za pomocą środków ochrony zbiorowej albo odpowiedniej organizacji pracy.</li>                            
                        </ul>
                        <p>Pracodawca nie może dopuścić pracownika do pracy bez wyposażenia go w środki ochrony indywidualnej niezbędne na danym stanowisku pracy. Środki ochrony indywidualnej stanowią własność pracodawcy i dostarczane są pracownikowi nieodpłatnie. Pracownik zobowiązany jest używać przekazane środki ochrony indywidualnej zgodnie z ich przeznaczeniem, natomiast pracodawca jest uprawniony do kontroli przestrzegania tego obowiązku i podejmowania działań zmierzających do jego wyegzekwowania.</p>
                        <p>Natomiast środki ochrony zbiorowej mają za zadanie chronić pracowników przed zagrożeniami występującymi w środowisku pracy. Są to bardzo różnorodne środki, które często wynikają z warunków lokalnych, a nawet chwilowych potrzeb.</p>
                    </div>
                </div><!-- end post-padding -->
            </div><!-- end col -->
            <div id="sidebar" class="col-md-4 col-sm-12 page-right-sidebar">              
                <bhp-right-sidebar></bhp-right-sidebar>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
  </section><!-- end section -->