<div class="page-title bgg">
    <div class="container clearfix">
      <div class="title-area pull-left">
        <h2>Opracowywanie dokumentacji związanej z wypadkami przy pracy</h2>
      </div><!-- /.pull-right -->
      <div class="pull-right hidden-xs">
        <div class="bread">
          <ol class="breadcrumb">
            <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
            <li class="active">Opracowywanie dokumentacji związanej z wypadkami przy pracy</li>
          </ol>
        </div><!-- end bread -->
      </div><!-- /.pull-right -->
    </div>
  </div><!-- end page-title -->
  
  <section class="section bgw">
    <div class="container">
        <div class="row">
            <div id="post-content" class="col-md-8 col-sm-12 single-course">
  
                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Opracowywanie dokumentacji związanej z wypadkami przy pracy</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>
                        <p>Gdy pracodawca otrzyma informację o wypadku przy pracy powołuje zespół wypadkowy, który w protokole powypadkowym ustala w jakich okolicznościach doszło do zdarzenia i czy w ocenie zespołu zdarzenie należy uznać za wypadek przy pracy. Zespół może nie tylko dokonywać oględzin miejsca wypadku i badać stan urządzeń przy których pracował pracownik, ale może również wysłuchać świadków zdarzenia. Po zakończeniu postępowania wyjaśniającego zespół powypadkowy sporządza nie później niż w ciągu 14 dni od dnia uzyskania zawiadomienia o wypadku protokół powypadkowy.</p>
                        <p>Zespół ma obowiązek zapoznania poszkodowanego z treścią protokołu przed zatwierdzeniem przez pracodawcę i pouczenia o prawie wniesienia „uwag i zastrzeżeń”. Poszkodowany może skorzystać z prawa do wglądu do akt związanych z postępowaniem i sporządzać z nich kopie, odpisy, notatki itp. Prawo to przysługują również członkom rodziny poszkodowanego w wypadku śmiertelnym.</p>                                                
                        <p>Protokół powypadkowy zatwierdza pracodawca - nie później niż w ciągu 5 dni od dnia jego sporządzenia.</p>
                        <p>W przypadku zgłoszenia zastrzeżeń do treści protokołu powypadkowego (przez poszkodowanego lub członków rodziny zmarłego wskutek wypadku pracownika) albo gdy protokół ten nie odpowiada warunkom określonym w przepisach, pracodawca ma obowiązek zwrócenia niezatwierdzonego protokołu, w celu wyjaśnienia i uzupełnienia przez zespół powypadkowy.</p>
                        <p>Po dokonaniu wyjaśnień i uzupełnień, Zespół sporządza, nie później niż w ciągu 5 dni, nowy protokół powypadkowy, do którego dołącza protokół niezatwierdzony przez pracodawcę. Jeśli pracodawca nie uzna zdarzenia za wypadek przy pracy pracownik ma prawo odwołać się do sądu pracy. Prawo to przysługuje także spadkobiercom pracownika, który zginął w wyniku wypadku.</p>
                        <p>W toku postępowania sąd bada czy zdarzenie wyczerpuje znamiona wypadku przy pracy i nie jest związany w tym zakresie ustaleniami komisji powypadkowej. W większości wypadków ustalenie takie wymaga wiedzy specjalnej (np. z zakresu wiedzy medycznej) stąd też w wielu wypadkach kluczowym dowodem w sprawie jest dowód z opinii biegłego.</p>
                    </div>
                </div><!-- end post-padding -->                
            </div><!-- end col -->
            <div id="sidebar" class="col-md-4 col-sm-12 page-right-sidebar">              
                <bhp-right-sidebar></bhp-right-sidebar>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
  </section><!-- end section -->