<div class="page-title bgg">
    <div class="container clearfix">
      <div class="title-area pull-left">
        <h2>Outsourcing BHP</h2>
      </div><!-- /.pull-right -->
      <div class="pull-right hidden-xs">
        <div class="bread">
          <ol class="breadcrumb">
            <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
            <li class="active">Outsourcing BHP</li>
          </ol>
        </div><!-- end bread -->
      </div><!-- /.pull-right -->
    </div>
  </div><!-- end page-title -->
  
  <section class="section bgw">
    <div class="container">
        <div class="row">
            <div id="post-content" class="col-md-8 col-sm-12 single-course">
  
                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Outsourcing BHP</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>
                        <p>W zakresie usługi nadzoru BHP (outsourcing) oferujemy kompleksowe działania, dzięki którym zaoszczędzą Państwo swój czas i pieniądze. To bardzo wygodne rozwiązanie, ponieważ przejmujemy troskę o realizację zadań BHP w Państwa firmie i zadbamy o bezpieczeństwo pracowników.</p>
                    </div>
                </div><!-- end post-padding -->

                <hr class="invis">
                
                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>W ramach umowy stałej zapewniamy m.in.:</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>
                        <ul>                          
                          <li>wewnętrzne audyty,</li>
                          <li>nadzór i kontrole stanu BHP,</li>
                          <li>opracowywanie instrukcji BHP,</li>
                          <li>szkolenia wstępne i okresowe,</li>
                          <li>udział w ocenie ryzyka zawodowego,</li>
                          <li>wykonywanie dokumentacji powypadkowej,</li>
                          <li>okresowe (min. raz w roku) kontrole stanu BHP z protokołem,</li>
                          <li>doradztwo w zakresie przepisów i zasad BHP,</li>
                          <li>reprezentowanie pracodawcy przed organami kontroli państwowej (PIP, Sanepid),</li>
                          <li>pomoc w realizacji wydanych decyzji przez organy nadzoru PIP, PIS,</li>
                          <li>współpraca z lekarzem medycyny pracy dotycząca badań profilaktycznych,</li>
                          <li>udział w Komisji BHP,</li>
                          <li>nadzór nad terminami szkoleń i ich organizacją,</li>
                          <li>współpraca z laboratoriami badań środowiskowych,</li>
                          <li>oraz wiele innych wynikających z rozporządzenia i zmian w przepisach BHP.</li>
                        </ul>
                        <p>Outsourcing z uwagi na różnorodność i działanie wielopłaszczyznowe jest konsultowane z każdym przedsiębiorstwem indywidualnie. Przedział cenowy może być zróżnicowany ze względu na zakres obsługi i nakład pracy, który w każdym przedsiębiorstwie jest inny. </p>
                        <p>Wyżej wymienione obowiązki realizuję również w zakresie zleceń jednorazowych.</p>
                    </div>
                </div><!-- end post-padding -->                
            </div><!-- end col -->
            <div id="sidebar" class="col-md-4 col-sm-12 page-right-sidebar">              
                <bhp-right-sidebar></bhp-right-sidebar>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
  </section><!-- end section -->