@media (max-width: 575.98px) {
    .logo-wrapper {
        padding: 10px 0;
    }

    .navbar-brand {
        font-size: 16px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .logo-wrapper {
        padding: 15px 0;
    }

    .navbar-brand {
        font-size: 20px;
    }
}