<footer>
    <div class="logo-wrapper background-color">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-sm-12 text-center">
                  <div class="site-logo">
                      <a class="navbar-brand">Szkolenia BHP<span> online</span>
                      <small>Platforma e-learning &copy;2018</small>
                      </a>
                  </div>
              </div><!-- end col -->
          </div><!-- end row -->
      </div><!-- end container -->
    </div><!-- end logo-wrapper -->
  </footer><!-- end footer -->
