<div class="page-title bgg">
  <div class="container clearfix">
      <div class="title-area pull-left">
          <h2>Twoje wiadomości <small>Poniżej znajuje się lista otrzymanych wiadomości i powiadomień.</small></h2>
      </div><!-- /.pull-right -->
      <div class="pull-right hidden-xs">
          <div class="bread">
              <ol class="breadcrumb">
                  <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
                  <li><a routerLinkActive="active" routerLink="/dashboard">Panel Szkoleń BHP</a></li>
                  <li><a routerLinkActive="active" routerLink="/dashboard/messages">Wiadomości</a></li>
                  <li class="active">Wiadomość</li>
              </ol>
          </div><!-- end bread -->
      </div><!-- /.pull-right -->
  </div>
</div><!-- end page-title -->

<section class="section litpadtop bgw">
    <div class="container" id="message-container">
        <div class="row">
            <div id="sidebar" class="col-md-3 col-sm-12 page-left-sidebar">
                <bhp-activity></bhp-activity>
            </div><!-- end right -->

            <div id="sidebar1" class="col-md-9 col-sm-12">
                <div class="widget clearfix">
                    <div class="member-profile">
                        <div class="big-title">
                            <h2 class="related-title">
                                <span>Wiadomość</span>
                            </h2>
                        </div><!-- end big-title -->

                        <div class="messages panel panel-info">
                            <div class="panel-body">
                                <div class="form-group row wow fadeIn">
                                    <div class="col-sm-2 col-xs-12 text-center">
                                        <img alt="" class="img-responsive img-thumbnail" src="../../../assets/images/member_01.jpg">
                                        <small>Od : {{message?.sender}}</small><br>
                                        <small>{{message.sendDate | date:'dd-MM-yyyy'}}</small>
                                    </div>
                                    <div class="col-sm-10 col-xs-12">
                                        <h4>{{message?.title}}</h4>

                                        <p>{{message?.text}}</p>
                                    </div>
                                </div><!-- end form-group -->   

                                <hr>

                                <div class="form-group row wow fadeIn">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="contact_form">
                                            <div id="message"></div>
                                            <div id="contactform" name="contactform">
                                                <textarea class="form-control" name="comments" id="comments" rows="8" placeholder="Treść wiadomości..."></textarea>
                                                <button class="btn btn-primary btn-square"> Odpowiedz</button>
                                            </div> 
                                        </div>
                                    </div>
                                </div><!-- end form-group -->   
                            </div><!-- end panel body -->
                        </div><!-- end storelist -->
                    </div><!-- end team-member -->
                </div>
            </div><!-- end right -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>