<div class="page-title bgg">
    <div class="container clearfix">
      <div class="title-area pull-left">
        <h2>Przeprowadzanie okresowych kontroli warunków pracy</h2>
      </div><!-- /.pull-right -->
      <div class="pull-right hidden-xs">
        <div class="bread">
          <ol class="breadcrumb">
            <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
            <li class="active">Przeprowadzanie okresowych kontroli warunków pracy</li>
          </ol>
        </div><!-- end bread -->
      </div><!-- /.pull-right -->
    </div>
  </div><!-- end page-title -->
  
  <section class="section bgw">
    <div class="container">
        <div class="row">
            <div id="post-content" class="col-md-8 col-sm-12 single-course">
  
                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Przeprowadzanie okresowych kontroli warunków pracy</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>
                        <p>Zgodnie z rozporządzeniem Rady Ministrów z dnia 2 września 1997 r. w sprawie służby bezpieczeństwa i higieny pracy (Dz. U. Nr 109, poz. 704 z późn. zm.) do zakresu działania służby bhp należy m.in.:</p>
                        <ul>
                            <li>przeprowadzanie kontroli warunków pracy oraz przestrzegania przepisów i zasad bezpieczeństwa i higieny pracy, ze szczególnym uwzględnieniem stanowisk pracy, na których są zatrudnione kobiety w ciąży lub karmiące dziecko piersią, młodociani, niepełnosprawni, pracownicy wykonujący pracę zmianową, w tym pracujący w nocy, oraz osoby fizyczne wykonujące pracę na innej podstawie niż stosunek pracy w zakładzie pracy lub w miejscu wyznaczonym przez pracodawcę,</li>
                            <li>bieżące informowanie pracodawcy o stwierdzonych zagrożeniach zawodowych, wraz z wnioskami zmierzającymi do usuwania tych zagrożeń,</li>
                            <li>sporządzanie i przedstawianie pracodawcy, co najmniej raz w roku, okresowych analiz stanu bezpieczeństwa i higieny pracy zawierających propozycje przedsięwzięć technicznych i organizacyjnych mających na celu zapobieganie zagrożeniom życia i zdrowia pracowników oraz poprawę warunków pracy,</li>
                            <li>zgłaszanie wniosków dotyczących wymagań bezpieczeństwa i higieny pracy w stosowanych oraz nowo wprowadzanych procesach produkcyjnych,</li>
                            <li>przedstawianie pracodawcy wniosków dotyczących zachowania wymagań ergonomii na stanowiskach pracy.</li>
                        </ul>
                        <p>Celem kontroli jest pozyskanie informacji o tym jak przestrzegane są przepisy w zakresie bezpieczeństwa i higieny pracy. Elementem ważnym przeprowadzonej kontroli jest zebrany materiał, który w celu bardziej efektywnego monitorowania warunków pracy powinien być prowadzony w formie pisemnej.</p>                                                
                    </div>
                </div><!-- end post-padding -->

                <hr class="invis">

                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Kontrola warunków pracy powinna w szczególności dotyczyć:</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>                        
                        <ul>
                            <li>stanu technicznego maszyn i innych urządzeń technicznych, w tym spełniania wymagań dotyczących oceny zgodności, wyposażenia w osłony i inne środki zabezpieczające pracowników obsługujących maszyny i urządzenia,</li>
                            <li>stanu technicznego pomieszczeń pracy, w tym urządzeń wentylacyjnych, klimatyzacyjnych, odpylających i innych wpływających na warunki pracy,</li>
                            <li>oświetlenia ogólnego w pomieszczeniach oraz oświetlenia na stanowiskach pracy,</li>
                            <li>stanu pomieszczeń higieniczno-sanitarnych,</li>
                            <li>oceny ochrony pracowników przed działaniem materiałów i procesów technologicznych niebezpiecznych lub szkodliwych dla zdrowia,</li>
                            <li>zaopatrzenia pracowników w odzież i obuwie robocze oraz środki ochrony indywidualnej, zabezpieczające przed działaniem niebezpiecznych i szkodliwych dla zdrowia czynników występujących w środowisku pracy.</li>
                        </ul>
                    </div>
                </div><!-- end post-padding -->

                <hr class="invis">

                <div class="course-single-desc clearfix">
                    <div class="big-title">
                        <h2 class="related-title">
                            <span>Stwierdzenie nieprawidłowości</span>
                        </h2>
                    </div><!-- end big-title -->
                      
                    <div>
                        <p>W razie stwierdzenia nieprawidłowości osoba wykonująca zadania służby bhp jest uprawniona do:</p>                     
                        <ul>
                            <li>niezwłocznego wstrzymania pracy maszyny lub innego urządzenia technicznego w razie wystąpienia bezpośredniego zagrożenia życia lub zdrowia pracownika albo innych osób,</li>
                            <li>niezwłocznego odsunięcia od pracy pracownika zatrudnionego przy pracy wzbronionej,</li>
                            <li>niezwłocznego odsunięcia od pracy pracownika, który swoim zachowaniem lub sposobem wykonywania pracy stwarza bezpośrednie zagrożenie życia lub zdrowia własnego albo innych osób,</li>
                            <li>wnioskowania do pracodawcy o niezwłoczne wstrzymanie pracy w zakładzie pracy, w jego części lub w innym miejscu wyznaczonym przez pracodawcę do wykonywania pracy, w wypadku stwierdzenia bezpośredniego zagrożenia życia lub zdrowia pracowników albo innych osób,</li>
                            <li>występowania do osób kierujących pracownikami z zaleceniami usunięcia stwierdzonych zagrożeń wypadkowych i szkodliwości zawodowych oraz uchybień w zakresie BHP,</li>
                            <li>występowania do pracodawcy o zastosowanie kar porządkowych w stosunku do pracowników odpowiedzialnych za zaniedbanie obowiązków w zakresie bezpieczeństwa i higieny pracy.</li>
                        </ul>
                    </div>
                </div><!-- end post-padding -->
            </div><!-- end col -->
            <div id="sidebar" class="col-md-4 col-sm-12 page-right-sidebar">              
                <bhp-right-sidebar></bhp-right-sidebar>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
  </section><!-- end section -->