<div class="page-title bgg">
  <div class="container clearfix">
    <div class="title-area pull-left">
      <h2>Nadzór PPOŻ</h2>
    </div><!-- /.pull-right -->
    <div class="pull-right hidden-xs">
      <div class="bread">
        <ol class="breadcrumb">
          <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
          <li class="active">Nadzór PPOŻ</li>
        </ol>
      </div><!-- end bread -->
    </div><!-- /.pull-right -->
  </div>
</div><!-- end page-title -->
    
<section class="section bgw">
  <div class="container">
      <div class="row">
          <div id="post-content" class="col-md-8 col-sm-12 single-course">

              <div class="course-single-desc clearfix">
                  <div class="big-title">
                      <h2 class="related-title">
                          <span>Nadzór PPOŻ</span>
                      </h2>
                  </div><!-- end big-title -->
                    
                  <div>
                      <p>Oferujemy stały nadzór Inspektora Ppoż. w zakładach pracy. Zadbamy o wszystkie sprawy związane z ochroną przeciwpożarową.</p>
                      <p>W momencie podpisania umowy Inspektor Ppoż., przejmuje obowiązki właściciela/zarządcy obiektu w zakresie ochrony przeciwpożarowej.</p>                      
                  </div>
              </div><!-- end post-padding -->

              <hr class="invis">
              
              <div class="course-single-desc clearfix">
                  <div class="big-title">
                      <h2 class="related-title">
                          <span>Do zadań inspektora należą m.in.:</span>
                      </h2>
                  </div><!-- end big-title -->
                    
                  <div>
                      <ul>                                                  
                        <li>nadzór nad stanem bezpieczeństwa pożarowego w obiekcie,</li>
                        <li>prowadzenie wymaganej dokumentacji z zakresu ochrony przeciwpożarowej,</li>
                        <li>opracowanie i aktualizacja instrukcji bezpieczeństwa pożarowego,</li>
                        <li>prowadzenie obowiązkowych szkoleń przeciwpożarowych dla pracowników,</li>
                        <li>wykonywanie planów ewakuacji, procedur ewakuacji ludzi i mienia,</li>
                        <li>wykonywanie przeglądów gaśnic i hydrantów,</li>
                        <li>oznakowanie obiektów znakami ochrony przeciwpożarowej oraz ewakuacyjnymi,</li>
                        <li>doradztwo z zakresu ochrony przeciwpożarowej, wymagań przeciwpożarowych,</li>
                        <li>korespondencja z Państwową Strażą Pożarną,</li>
                        <li>pomoc w usunięciu nakazów pokontrolnych,</li>
                        <li>sporządzanie protokołów ze stanu bezpieczeństwa pożarowego w obiekcie,</li>
                        <li>pilnowanie wymaganych terminów przeglądów i konserwacji budynku, sprzętu i urządzeń przeciwpożarowych,</li>
                        <li>prowadzenie dokumentacji prac niebezpiecznych pod względem pożarowym,</li>
                        <li>organizowanie praktycznego sprawdzenia warunków i organizacji ewakuacji.</li>
                      </ul>
                  </div>
              </div><!-- end post-padding -->
          </div><!-- end col -->
          <div id="sidebar" class="col-md-4 col-sm-12 page-right-sidebar">              
              <bhp-right-sidebar></bhp-right-sidebar>
          </div><!-- end col -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end section -->