<div class="page-title bgg">
  <div class="container clearfix">
    <div class="title-area pull-left">
      <h2>Regulamin <small>Zapoznaj się z regulaminem naszego serwisu</small></h2>
    </div><!-- /.pull-right -->
    <div class="pull-right hidden-xs">
      <div class="bread">
        <ol class="breadcrumb">
          <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
          <li class="active">Regulamin</li>
        </ol>
      </div><!-- end bread -->
    </div><!-- /.pull-right -->
  </div>
</div><!-- end page-title -->

<section class="section bgw">
  <div class="container">
      <div class="row">
          <div id="post-content" class="col-md-12 col-sm-12 single-course">
              <h1 class="regulations-title">
                <span>REGULAMIN</span>
              </h1>

              <div class="course-single-desc clearfix">
                  <div class="rules-title">
                      <p>§ 1</p>
                      <p><b>Administrator serwisu <br></b></p>
                  </div><!-- end big-title -->
                    
                  <div class="rules-content">
                      <ol>
                        <li>Administratorem serwisu ESZKOLENIA BHP jest firma P&amp;F Piotr Forma z siedzibą w Łodzi przy ul. Tymienieckiego 16AB/1, zarejestrowana w Centralnej Ewidencji i Informacji Działalności Gospodarczej (CEIDG), NIP: 773-241-04-51, REGON: 101797397,e-mail: bhp@brperfekt.pl, reprezentowana przez właściciela – Piotr Forma.</li>
                        <li>W dalszej części regulaminu administrator może być zwany organizatorem, wykonawcą lub usługodawcą, a korzystający z serwisu – użytkownikiem, uczestnikiem lub usługobiorcą.</li>
                        <li>Serwis - serwis internetowy umieszczony pod adresem: <a href="https://eszkolenia-bhp.pl">https://eszkolenia-bhp.pl</a></li>
                      </ol>                     
                  </div>
              </div><!-- end post-padding -->

              <hr class="invis">

              <div class="course-single-desc clearfix">
                  <div class="rules-title">
                      <p>§ 2</p>
                      <p><b>Postanowienia i informacje ogólne <br></b></p>
                  </div><!-- end big-title -->
                    
                  <div class="rules-content">
                      <ol>
                          <li>Regulamin serwisu ESZKOLENIA BHP, zwany dalej
                            Regulaminem, określa zasady świadczenia usług&nbsp;
                            za pośrednictwem serwisu ESZKOLENIA BHP przez&nbsp; firmę&nbsp;
                            P&amp;F Piotr Forma z siedzibą w Łodzi, w postaci usług i doradztwa w
                            zakresie bezpieczeństwa i higieny pracy oraz ochrony przeciwpożarowej, szkoleń
                            stacjonarnych oraz szkoleń za pośrednictwem serwisu internetowego (e-learning),
                            zasady korzystania z tych usług , Politykę prywatności(zasady ochrony danych
                            osobowych)&nbsp; i Politykę plików cookies.</li><li>Usługobiorcy są zobowiązani zapoznać się z
                            niniejszym Regulaminem. Rozpoczęcie korzystania z Usług niewymagających
                            zarejestrowania ani zgłoszenia jest równoznaczne z pełną akceptacją warunków
                            Regulaminu. W przypadku Usług wymagających zarejestrowania lub zgłoszenia,
                            dokonanie rejestracji lub zgłoszenia wymaga pełnej akceptacji warunków
                            Regulaminu.</li><li>
                            
                            Regulamin jest udostępniony Usługobiorcom
                            nieodpłatnie za pośrednictwem Serwisu w formie, która umożliwia jego pobranie,
                            utrwalenie i wydrukowanie pod adresem:
                            http://www.eszkoleniabhp.pl/regulamin.html. Regulamin jest dostępny również w
                            siedzibie Usługodawcy. Każdy Usługobiorca zobowiązany jest do przestrzegania
                            postanowień Regulaminu.</li><li>Każdy Usługobiorca ma obowiązek zapewnienia, aby
                            wskazany przez niego Uczestnik szkolenia zapoznał się z Regulaminem i
                            przestrzegał jego postanowień.</li><li>
                            
                            Umożliwianie korzystania z Serwisu jest usługą
                            świadczoną drogą elektroniczną przez Usługodawcę na rzecz Usługobiorców, w
                            rozumieniu ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą
                            elektroniczną (Tekst jednolity Dz. U. z 2017 r. poz. 1219 ze zm.), które odbywa
                            się na mocy umowy, zawieranej pomiędzy Usługobiorcą a Usługodawcą&nbsp; oraz na podstawie Regulaminu.</li><li>
                            
                            W celu poprawnego działania Serwisu, zaleca się,
                            aby użytkownicy posiadali dostęp do sieci Internet; korzystali z takich
                            przeglądarek, jak: Mozilla, Opera, Chrome, IE od wersji 8, Safari</li><li>Korzystanie ze szkoleń w formie e-learning
                            wymaga posiadania przez uczestnika szkolenia programów służących do odtwarzania
                            dokumentów tekstowych i prezentacji, np. Word Viewer, Power Point Viewer lub
                            pakietu Office oraz aktywnego konta e-mail umożliwiającego korzystanie z
                            usług&nbsp; e-learningowych oraz komunikację z
                            Organizatorem szkolenia.</li>
                      </ol>                     
                  </div>
              </div><!-- end post-padding -->

              <hr class="invis">

              <div class="course-single-desc clearfix">
                  <div class="rules-title">
                      <p>§ 3</p>
                      <p><b>Zakres usług świadczonych przez Usługodawcę <br></b></p>
                  </div><!-- end big-title -->
                    
                  <div class="rules-content">
                      <ol>
                          <li>Usługodawca świadczy:</li>
                          <ol>
                            <li type='a'>Usługi szkolenia, polegające na możliwości uczestniczenia w szkoleniach, konferencjach, warsztatach, kursach i seminariach (zwanych dalej „szkoleniami stacjonarnymi”), organizowanych w siedzibie Usługodawcy lub innym wskazanym miejscu, w terminach określonych przez Usługodawcę.</li>
                            <li type='a'>Usługi elektroniczne, w szczególności możliwość uczestnictwa w szkoleniach e-learning (szkolenia on-line).</li>
                            <li type='a'>Usługi w zakresie bezpieczeństwa i higieny pracy oraz ochrony przeciwpożarowej.</li>
                          </ol>
                          <li>

                              Korzystanie z niektórych Usług wymaga
                              zarejestrowania w Serwisie. Usługodawca określa w Serwisie rodzaje usług
                              wymagających zarejestrowania.</li><li>
                              
                              Oferta świadczenia usług elektronicznych jest
                              ważna do czasu zawieszenia lub zaprzestania ich świadczenia przez Usługodawcę.
                              Usługodawca uprawniony jest do zawieszenia lub zaprzestania świadczenia usług
                              elektronicznych bez uprzedniego zawiadamiania Usługobiorców, z zastrzeżeniem
                              zachowania praw usługobiorców, którzy wnieśli opłatę na poczet świadczenia
                              usług elektronicznych.</li><li>
                              
                              Oferta świadczenia usług elektronicznych i
                              szkoleń może być rozszerzona w porozumieniu z Usługobiorcami.</li>
                      </ol>                     
                  </div>
              </div><!-- end post-padding -->

              <hr class="invis">

              <div class="course-single-desc clearfix">
                  <div class="rules-title">
                      <p>§ 4</p>
                      <p><b>Zawarcie umowy o świadczenia usług <br></b></p>
                  </div><!-- end big-title -->
                    
                  <div class="rules-content">
                      <ol>
                          <li>Zawarcie umowy o świadczenie usługi szkolenia
                            stacjonarnego lub w formie e-learning&nbsp;
                            jest jednoznaczne z przesłaniem Usługodawcy prawidłowo wypełnionego
                            formularza zgłoszeniowego&nbsp; w sposób
                            podany w Serwisie (drogą elektroniczną lub pocztą tradycyjną).</li><li>
                            
                            Zawarcie umowy o świadczenie usług&nbsp; w zakresie bezpieczeństwa i higieny pracy
                            oraz ochrony przeciwpożarowej, innych niż szkolenia,&nbsp; jest jednoznaczne z przesłaniem zamówienia na
                            wykonanie usługi ze wskazaniem jej rodzaju&nbsp;
                            i szacunkowych kosztów wykonania.</li>
                      </ol>                     
                  </div>
              </div><!-- end post-padding -->

              <hr class="invis">

              <div class="course-single-desc clearfix">
                  <div class="rules-title">
                      <p>§ 5</p>
                      <p><b>Zakres usługi szkolenia stacjonarnego <br></b></p>
                  </div><!-- end big-title -->
                    
                  <div class="rules-content">
                      <ol>
                          <li>Przedmiotem umowy o świadczenie usługi szkolenia
                            stacjonarnego jest umożliwienie uczestnictwa w szkoleniu organizowanym przez
                            Usługodawcę.</li><li>
                            
                            Usługodawca zastrzega, że niektóre szkolenia
                            stacjonarne mogą odbyć się wyłącznie w razie zgłoszenia się minimalnej liczby
                            Uczestników szkolenia, wymaganej do ich przeprowadzenia.</li><li>Usługodawca informuje drogą elektroniczną lub
                            telefonicznie Usługobiorcę&nbsp; o&nbsp; terminie, miejscu, programie&nbsp; i cenie szkolenia stacjonarnego.</li><li>
                            
                            Usługobiorca w zależności od ustaleń pomiędzy stronami zobowiązany jest dokonać płatności
                            za szkolenie stacjonarne:</li>
                            <ol>
                                <li type='a'>przelewem, po otrzymaniu wiadomości e-mail z fakturą pro-forma,</li>
                                <li type='a'>gotówką w dniu szkolenia, przed jego rozpoczęciem.</li>
                            </ol>
                      </ol>                     
                  </div>
              </div><!-- end post-padding -->

              <hr class="invis">

              <div class="course-single-desc clearfix">
                  <div class="rules-title">
                      <p>§ 6</p>
                      <p><b>Zakres usługi e-learning <br></b></p>
                  </div><!-- end big-title -->
                    
                  <div class="rules-content">
                      <ol>
                          <li>Przedmiotem umowy o świadczenie Usługi
                            e-learning jest udostępnienie Usługobiorcy pliku (plików) zawierającego
                            szkolenie&nbsp; na wybrany przez Usługobiorcę
                            z oferty Usługodawcy temat.</li><li>
                            
                            W ramach umowy Usługobiorca otrzymuje również
                            możliwość kontaktu z osobą odpowiedzialną merytorycznie za wybrane szkolenie
                            e-learning , na zasadach opisanych w charakterystyce szkolenia.</li><li>Uczestnik wskazany przez Usługobiorcę&nbsp; może skorzystać z usługi e-learning po
                            wyrażeniu przez niego zgody na przetwarzanie danych osobowych zgodnie z
                            Rozporządzeniem Parlamentu Europejskiego i Rady (UE) z dnia 27 kwietnia 2016 r.
                            (2016/679)&nbsp;&nbsp; do celów związanych z
                            organizacją i realizacją szkolenia.</li><li>Udostępnienie pliku szkolenia może nastąpić bez
                            możliwości utrwalenia go na dysku Usługobiorcy.</li><li>Usługobiorca zobowiązany jest dokonać płatności
                            w terminie&nbsp; wskazanym w fakturze pro
                            forma, którą otrzyma od Usługodawcy po przesłaniu do niego prawidłowo
                            wypełnionego formularza zgłoszeniowego za pomocą poczty tradycyjnej lub
                            elektronicznej na adres podany w § 1 pkt.1 Regulaminu. Po opłaceniu faktury
                            pro-forma Usługobiorca otrzyma od Usługodawcy fakturę vat drogą mailową lub
                            pocztą tradycyjną.</li><li>Stosownie do art. 5 ustawy z dnia z dnia 5 lipca
                            2002 r. o ochronie niektórych usług świadczonych drogą elektroniczną opartych
                            lub polegających na dostępie warunkowym (Tekst jednolity Dz.U. 2015 poz. 1341)
                            Usługodawca rozpocznie świadczenie Usługi e-learning po jej opłaceniu przez
                            Usługobiorcę.</li><li>Udostępnienie pliku szkolenia (aktywacja konta
                            uczestnika) następuje w terminie 3 dni roboczych od chwili zaksięgowania wpłaty
                            na rachunku Usługodawcy na okres wskazany przez Usługodawcę na stronach
                            Serwisu. Po upływie wskazanego okresu dostęp do pliku wygasa.</li><li>O aktywacji konta, uczestnik powiadamiany jest
                            drogą mailową, na adres podany podczas rejestracji (potwierdzony w formularzu
                            zgłoszeniowym)</li><li>Uczestnik szkolenia, po zapoznaniu się z
                            materiałem edukacyjnym dostępnym w serwisie e-learning po aktywacji konta,
                            odpowiednim dla wybranego rodzaju szkolenia, pobiera,&nbsp; wypełnia i przesyła na adres Usługodawcy test
                            egzaminacyjny, celem sprawdzenia jego poprawności. Wypełnienie testu jest
                            równoznaczne z przystąpieniem do egzaminu.</li><li>
                            
                            Pozytywny wynik egzaminu jest podstawą do
                            wydania przez organizatora szkolenia (Usługodawcę) zaświadczenia o ukończeniu
                            szkolenia.</li><li>
                            
                            Informację o ilości uzyskanych punktów i ocenie
                            Uczestnik otrzymuje od Organizatora szkolenia drogą elektroniczną na adres
                            mailowy podany podczas rejestracji w usłudze e-learning.</li><li>Zaświadczenie o ukończeniu szkolenia&nbsp; można odebrać osobiście w siedzibie
                            Usługodawcy&nbsp; lub za pośrednictwem poczty,
                            w zależności od ustaleń stron.</li><li>
                            
                            W przypadku jakichkolwiek problemów związanych z
                            korzystaniem z usług&nbsp; e-learning lub
                            wystąpienia procesów niezamierzonych , Uczestnik może skontaktować się z Usługodawcą,
                            który podejmie działania umożliwiające prawidłową realizację zadań&nbsp; serwisu.</li><li>
                            
                            Usługodawca nie ponosi odpowiedzialności z
                            tytułu wystąpienia jakichkolwiek szkód po stronie Usługobiorcy, spowodowanych
                            niemożnością korzystania przez Usługobiorcę&nbsp;
                            z Usług, opóźnienia w ich otrzymaniu&nbsp;
                            spowodowanych brakiem transmisji, nieprawidłową transmisją, opóźnieniami
                            lub innymi przerwami w świadczeniu usług przez Usługodawcę, spowodowanych przez
                            czynniki od niego niezależne. <br>Za czynniki niezależne uważa się w szczególności:</li>
                            <ol>
                                <li type='a'>przyczyny technologiczne związane ze specyfiką Usług,</li>
                                <li type='a'>awarie transmisji lub łączy telefonicznych, w tym międzynarodowych, obciążenia łączy, brak dostępu do sieci operatorów krajowych i zagranicznych lub nieprawidłowości w działaniu takich operatorów telekomunikacyjnych,</li>
                                <li type='a'>przerwy w dostawie energii elektrycznej oraz awarie urządzeń technicznych i inne tego typu okoliczności, za które odpowiedzialni są dostawcy usług i operatorzy telekomunikacyjni lub siła wyższa, rozumiana jako nagła, niespodziewana przyczyna zewnętrzna, za którą Usługodawca nie odpowiada,</li>
                                <li type='a'>konieczne przerwy eksploatacyjne, remontowe oraz inne przerwy o charakterze technicznym,</li>
                                <li type='a'>okoliczności, za które odpowiada Usługobiorca, takie jak awaria urządzeń lub oprogramowania Użytkownika, błędy w obsłudze lub konfiguracji.</li>
                            </ol>
                            <li>W uzasadnionych przypadkach na wniosek Usługobiorcy, Usługodawca może podjąć decyzje o przedłużeniu terminu aktywacji konta uczestnika szkolenia.</li>
                      </ol>                     
                  </div>
              </div><!-- end post-padding -->

              <hr class="invis">

              <div class="course-single-desc clearfix">
                  <div class="rules-title">
                      <p>§ 7</p>
                      <p><b>Zasady dokonywania płatności za usługi świadczone przez Usługodawcę <br></b></p>
                  </div><!-- end big-title -->
                    
                  <div class="rules-content">
                      <ol>
                          <li>Wysokość i sposoby wnoszenia opłaty Usługodawca
                            określa w Serwisie, formularzu lub wiadomości e-mail zawierającej informację o
                            sposobie dokonania wpłaty.</li><li>O ile nie zaznaczono inaczej wpłat należy
                            dokonywać na rachunek: Piotr Forma, 90-365 Łódź, ul. Tymienieckiego 16AB/1,
                            Bank Pekao S.A. 38 1240 3145 1111 0010 1940 0607 </li><li>W tytule wpłaty należy wpisać dane
                            identyfikacyjne Usługobiorcy podane w formularzu zgłoszeniowym lub numer
                            faktury wystawionej przez Usługodawcę.</li>
                      </ol>                     
                  </div>
              </div><!-- end post-padding -->

              <hr class="invis">

              <div class="course-single-desc clearfix">
                  <div class="rules-title">
                      <p>§ 8</p>
                      <p><b>Informacja o przetwarzaniu danych osobowych<br></b></p>
                  </div><!-- end big-title -->
                    
                  <div class="rules-content">
                      <ol>
                        <li>Administratorem serwisu ESZKOLENIA BHP jest firma P&F Piotr Forma z siedzibą w Łodzi przy ul. Tymienieckiego 16AB/1, zarejestrowana w Centralnej Ewidencji i Informacji Działalności Gospodarczej (CEIDG), NIP: 773-241-04-51, REGON: 101797397,e-mail: bhp@brperfekt.pl,</li>
                        <li>Państwa dane osobowe przetwarzane będą na podstawie art. 6 ust. 1 lit. a, b lub c Rozporządzenia Parlamentu Europejskiego i Rady (UE) z dnia 27 kwietnia 2016 r. (2016/679) , tj. wtedy, gdy:
                            <ol>
                                <li type='a'>osoba, której dane dotyczą wyrazi zgodę na przetwarzanie swoich danych osobowych w jednym lub większej liczbie określonych celów lub</li>
                                <li type='a'>przetwarzanie jest niezbędne do wykonania umowy, której stroną jest osoba, której dane dotyczą, lub do podjęcia działań na żądanie osoby, której dane dotyczą, przed zawarciem umowy lub</li>
                                <li type='a'>przetwarzanie jest niezbędne do wypełnienia obowiązku prawnego ciążącego na administratorze</li>
                            </ol>
                            w celu wykonywania zawartej z Państwem umowy, w tym w szczególności w celu:
                        </li>
                        <ol>
                            <li type='a'>organizacji i przeprowadzenia szkolenia w formie samokształcenia kierowanego (e-learning) - udostępnienia materiałów edukacyjnych na platformie e - learning, wydania zaświadczenia o jego ukończeniu,</li>
                            <li type='a'>organizacji i przeprowadzenie szkolenia w formie stacjonarnej - prowadzenia dziennika szkolenia i rejestru zaświadczeń oraz wydanie zaświadczenia o ukończeniu szkolenia,</li>
                            <li type='a'>pomocy w zapewnieniu dotrzymania wymaganych prawem obowiązkowych terminów szkoleń BHP (wpisania do terminarzu szkoleń),</li>
                            <li type='a'>odebrania danych niezbędnych do realizacji zleconej usługi (poczty e-mail),</li>
                            <li type='a'>realizacji usługi nadzoru BHP w firmach, z którymi zawarto umowę na świadczenie usług lub usługi jednorazowej w zakresie BHP i PPOŻ zamówionej przez klienta,</li>
                            <li type='a'>wystawienia dowodu zakupu.</li>
                        </ol>
                        <li>W opisanym powyżej celach możemy przetwarzać następującego kategorie Państwa danych osobowych:</li>
                        <ul>
                            <li>imię i nazwisko,</li>
                            <li>adres e-mail,</li>
                            <li>numer telefonu,</li>
                            <li>stanowisko i miejsce zatrudnienia,</li>
                            <li>data i miejsce urodzenia,</li>
                            <li>nazwa firmy,</li>
                            <li>adres – siedziba firmy,</li>
                            <li>numer NIP,</li>
                            <li>informacja o stopniu niepełnosprawności,</li>
                            <li>informacja o skutkach wypadku przy pracy,</li>
                            <li>pesel,</li>
                            <li>imię ojca,</li>
                            <li>adres zamieszkania,</li>
                            <li>seria i numer dokumentu tożsamości.</li>
                        </ul>
                        <li>Podanie danych osobowych jest ustawowym warunkiem zawarcia umowy i jest dobrowolne, jednakże niepodanie danych w zakresie wymaganym przez administratora może skutkować niewykonaniem umowy. W pozostałych przypadkach opiera się na dobrowolnej zgodzie osoby udostępniającej swoje dane osobowe lub przepisach prawa (w szczególności ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016r. - RODO), jednakże niepodanie danych w zakresie wymaganym przez administratora może skutkować niemożliwością wykonania umowy.</li>
                        <li>W zależności od celu przetwarzania, Państwa dane będą usunięte:</li>
                        <ol>
                            <li type='a'>po utracie ważności zaświadczenia o odbytym szkoleniu,</li>
                            <li type='a'>po upływie terminu, w którym możliwe jest dochodzenie roszczeń w związku z wykonywaniem umowy. Maksymalnie do 5 lat po rozwiązaniu umowy,</li>
                            <li type='a'>po czasie upływu terminu przedawnienia zobowiązania podatkowego,</li>
                            <li type='a'>po cofnięciu zgody na przetwarzanie danych osobowych,</li>
                            <li type='a'>niezwłocznie po realizacji usługi (poczta e-mail).</li>
                        </ol>
                        <li>Przysługuje Państwu prawo dostępu do treści danych oraz ich sprostowania, usunięcia lub ograniczenia przetwarzania, a także prawo sprzeciwu, zażądania zaprzestania przetwarzania i przenoszenia danych, jak również prawo do cofnięcia zgody w dowolnym momencie oraz prawo do wniesienia skargi do organu nadzorczego tj. – Prezes Urzędu Ochrony Danych Osobowych),</li>
                        <li>Dane udostępnione przez Państwa nie będą podlegały udostępnieniu podmiotom trzecim, nie będą przekazywane do państwa trzeciego lub organizacji międzynarodowej . Odbiorcami danych mogą być jednak  instytucje upoważnione z mocy prawa,</li>
                        <li>Państwa dane nie będą przetwarzane w sposób zautomatyzowany w tym również w formie profilowania,</li>
                        <li>Administrator dokłada wszelkich starań, aby zapewnić wszelkie środki fizycznej, technicznej i organizacyjnej ochrony danych osobowych przed ich przypadkowym czy umyślnym zniszczeniem, przypadkową utratą, zmianą, nieuprawnionym ujawnieniem, wykorzystaniem czy dostępem, zgodnie ze wszystkimi obowiązującymi przepisami.</li>
                      </ol>                     
                  </div>
              </div><!-- end post-padding -->

              <hr class="invis">

              <div class="course-single-desc clearfix">
                  <div class="rules-title">
                      <p>§ 9</p>
                      <p><b>Polityka plików cookies<br></b></p>
                  </div><!-- end big-title -->
                    
                  <div class="rules-content">
                      <ol>
                        <li>„Pliki cookies” to dane informatyczne, zwłaszcza
                            pliki tekstowe, zapisywane na komputerze Usługobiorcy /Uczestnika (najczęściej
                            na twardym dysku) lub innym urządzeniu mobilnym podczas korzystania przez niego
                            z serwisów internetowych.</li>
                        <li>Pliki cookies wykorzystywane są w celu
                            gromadzenia informacji związanych z korzystaniem z Serwisów i nie gromadzą w
                            sposób automatyczny żadnych innych informacji o użytkowniku. Dla poszczególnych
                            Serwisów mogą być wykorzystywane różne pliki cookies. Działanie to nie służy
                            zbieraniu ani przetwarzaniu danych osobowych.</li>
                        <li>W Serwisach pliki cookies wykorzystywane są w
                            celu:</li>
                        <ul>
                            <li>dostosowania zawartości stron internetowych
                                danego Serwisu do preferencji użytkownika oraz optymalizacji korzystania ze
                                stron internetowych; w szczególności pliki te pozwalają rozpoznać urządzenie
                                użytkownika Serwisu i odpowiednio wyświetlić stronę internetową, dostosowaną do
                                jego indywidualnych potrzeb;</li>
                            <li>tworzenia statystyk, które pomagają zrozumieć, w
                                jaki sposób użytkownicy Serwisu korzystają ze stron internetowych, co umożliwia
                                ulepszanie ich struktury i zawartości;</li>
                            <li>utrzymanie sesji użytkownika Serwisu (po
                                zalogowaniu - jeżeli korzystanie z danego Serwisu tego wymaga), dzięki której
                                użytkownik nie musi na każdej podstronie Serwisu ponownie wpisywać
                                identyfikatora i hasła.</li>
                        </ul>
                        <li>W momencie połączenia się przez użytkownika z
                            Serwisem, w logach systemowych pojawiają się informacje o numerze (w tym IP) i
                            rodzaju urządzenia końcowego użytkownika, a także czasu połączenia z Serwisem
                            oraz inne dane eksploatacyjne dotyczące aktywności użytkownika w Serwisie.
                            Usługodawca w celach technicznych przetwarza te informacje zgodnie z przepisami
                            obowiązującego na terytorium Rzeczypospolitej Polskiej prawa.</li>
                        <li>Dane dotyczące użytkowników niniejszego serwisu
                            zbierane w celu optymalizacji jego funkcjonowania mogą być ujmowane i ujawniane
                            w formie statystyk, przy czym statystyki te nie zawierają danych
                            umożliwiających identyfikuję użytkowników.</li>
                        <li>Usługodawca oświadcza, iż dołoży starań, aby
                            zapewnić użytkownikowi wysoki poziom bezpieczeństwa w zakresie korzystania z
                            Serwisów, poprzez zastosowanie odpowiednich administracyjnych i technicznych
                            zabezpieczeń danych przed ich przypadkowym lub bezprawnym zniszczeniem, utratą,
                            nieupoważnionym ujawnieniem lub udostępnieniem.</li>
                        <li>Usługobiorca/Uczestnik może nie wyrazić zgody na
                            wykorzystywanie plików cookies, co w przyszłości uniemożliwi przechowywanie
                            plików cookies w urządzeniu użytkownika.</li>
                        <li>Użytkownik, który nie wyraża zgody na
                            wykorzystywanie plików cookies lub chce usunąć dotychczasowe pliki cookies,
                            powinien wybrać odpowiednie ustawienia w używanej przez siebie przeglądarce
                            stron WWW. Instrukcje dotyczące akceptowania i odrzucania plików cookies
                            znajdują się w menu Pomoc przeglądarek.</li>
                        <li>Zablokowanie lub usunięcie plików cookies może
                            spowodować utrudnienia bądź uniemożliwić korzystanie z niektórych części lub
                            funkcjonalności Serwisu.</li>
                      </ol>                     
                  </div>
              </div><!-- end post-padding -->

              <hr class="invis">

              <div class="course-single-desc clearfix">
                  <div class="rules-title">
                      <p>§ 10</p>
                      <p><b>Określenie praw i obowiązków stron<br></b></p>
                  </div><!-- end big-title -->
                    
                  <div class="rules-content">
                      <ol>
                        <li>Usługodawca zobowiązuje się do świadczenia usług określonych w § 3, ust 1 niniejszego Regulaminu.</li>
                        <li>Usługobiorca
                            zobowiązuje się do uiszczenia należności za usługi odpłatne w terminie i w
                            sposób określony przez Usługodawcę dla danej usługi.</li>
                        <li>Zakazane jest
                            wykorzystywanie przez Usługobiorcę oraz uczestnika szkolenia usług w sposób
                            sprzeczny z prawem, dobrymi obyczajami lub naruszający uzasadnione interesy
                            Usługodawcy.</li>
                        <li>Usługodawca zastrzega, że
                            materiały szkoleniowe zamieszczone w Serwisie, pliki szkoleń i materiały
                            udostępniane Uczestnikom szkolenia podczas szkoleń stacjonarnych i szkoleń
                            e-learning są objęte ochroną prawa autorskiego. Usługobiorca lub Uczestnik
                            szkolenia ma prawo do korzystania z nich jedynie w ramach dozwolonego użytku
                            osobistego. Kopiowanie, zwielokrotnianie, rozpowszechnianie w internecie i inne
                            formy korzystania z tych materiałów wykraczające poza granice dozwolone prawem jest
                            zabronione.</li>
                        <li>Usługodawca
                            uprawniony jest do zablokowania dostępu do pliku szkolenia Usługobiorcy lub
                            uczestnikowi szkolenia, jeśli korzystają oni w sposób sprzeczny z prawem lub
                            postanowieniami Regulaminu z usługi e-learning.</li>
                        <li>Na życzenie
                            Usługobiorcy zostaje wystawiona przez Usługodawcę faktura VAT, która zostanie
                            wysłana Usługobiorcy pocztą na adres wskazany w formularzu zgłoszeniowym.</li>
                        <li>Usługobiorca
                            usługi szkolenia stacjonarnego lub usług elektronicznych wymagających
                            zarejestrowania albo uczestnik szkolenia, dokonując zgłoszenia lub rejestracji
                            wyraża zgodę na otrzymywanie informacji handlowych od Usługodawcy. Zgoda może
                            zostać w każdym czasie odwołana przez przesyłanie wiadomości na adres e-mail
                            Usługodawcy wskazany w § 1 ust. 1 Regulaminu.</li>
                        <li>Usługodawca
                            zastrzega, że korzystanie z usług odbywa się wyłącznie na koszt i ryzyko
                            Usługobiorcy.</li>
                        <li>Usługodawca
                            zastrzega, że usługi mają charakter wyłącznie informacyjny i nie mogą być
                            wykorzystywane jako narzędzie służące podejmowaniu jakichkolwiek decyzji.</li>
                        <li>Usługobiorca
                            ponosi pełną odpowiedzialność za przestrzeganie postanowień Regulaminu przez
                            wskazanego przez siebie Uczestnika szkolenia.</li>
                        <li>Usługodawca nie ponosi odpowiedzialności:</li>
                        <ol>
                            <li type='a'>za jakiekolwiek szkody powstałe wskutek korzystania z usług przez Usługobiorców w sposób niezgodny z prawem lub Regulaminem,</li>
                            <li type='a'>za jakiekolwiek szkody powstałe na skutek zaprzestania świadczenia usług w przypadku gdy nastąpiło to z winy Usługobiorcy bądź ze względu na naruszenie przepisów prawa lub Regulaminu,</li>
                            <li type='a'>za jakiekolwiek szkody powstałe w związku z wykorzystaniem przez Usługobiorcę danych oraz informacji udostępnianych w ramach świadczenia usług w celach gospodarczych, inwestycyjnych, biznesowych itp.</li>
                        </ol>
                        <li>Usługodawca nie ponosi odpowiedzialności za treści zamieszczone na stronach internetowych umieszczonych w innych serwisach niż ESZKOLENIA BHP, do których linki zawarto w Serwisie.</li>
                      </ol>                     
                  </div>
              </div><!-- end post-padding -->

              <hr class="invis">

              <div class="course-single-desc clearfix">
                  <div class="rules-title">
                      <p>§ 11</p>
                      <p><b>Rozwiązanie umowy o świadczenie usług<br></b></p>
                  </div><!-- end big-title -->
                    
                  <div class="rules-content">
                      <ol>
                        <li>Umowa o
                            świadczenie usługi e-learning rozwiązuje się z upływem czasu, na jaki plik
                            (pliki) szkolenia został udostępniony Usługobiorcy przez Usługodawcę.</li>
                        <li>Usługodawcy
                            przysługuje prawo odstąpienia od umowy o świadczenie usługi szkolenia
                            stacjonarnego w szczególności w razie niemożliwości przeprowadzenia szkolenia z
                            przyczyn niezależnych od Usługodawcy, w tym w szczególności nieotrzymania przez
                            Usługodawcę minimalnej liczby zgłoszeń na dane szkolenie,</li>
                        <li>W razie
                            odstąpienia Usługodawcy od umowy o świadczenie usługi szkolenia z powodów
                            wskazanych w § 11 ust. 2 po dokonaniu płatności za szkolenie, Usługodawca może
                            zaproponować Uczestnikowi szkolenia udział w szkoleniu w innym terminie, a
                            jeżeli uczestnik szkolenia nie zaakceptuje nowego terminu szkolenia – zwróci
                            Usługobiorcy pełną opłatę za szkolenie w terminie 14 dni roboczych.</li>
                        <li>Usługobiorcy
                            przysługuje prawo odstąpienia od umowy o świadczenie usługi szkolenia
                            stacjonarnego terminie do 3 dni przed dniem rozpoczęciem szkolenia.
                            Oświadczenie o odstąpieniu wymaga formy pisemnej. Oświadczenie o odstąpieniu od
                            umowy powinno zostać sporządzone na piśmie i musi być wysłane listem poleconym
                            na adres Usługodawcy, wskazany w § 1 ust. 1 Regulaminu.</li>
                        <li>W razie
                            odstąpienia Usługobiorcy od umowy o świadczenie Usługi szkolenia w sposób
                            określony w § 11 ust. 4 Usługodawcy należy się 60% opłaty za szkolenie. W
                            przypadku nieprzybycia Uczestnika szkolenia na szkolenie, bez wcześniejszego
                            oświadczenia o odstąpieniu do dnia wskazanego w ust. 4 powyżej, Usługodawca nie
                            zwraca opłaty za szkolenie.</li>
                        <li>Reklamacje usług
                            Usługobiorca może składać w formie pisemnej, za pomocą listu poleconego na
                            adres Usługodawcy, wskazany w § 2 ust. 1 Regulaminu. Reklamacja musi zawierać
                            imię, nazwisko (nazwę) i adres pocztowy Usługobiorcy.</li>
                        <li>Reklamacje będą
                            rozpatrywane w terminie 14 dni od dnia otrzymania listu poleconego przez
                            Usługodawcę. O decyzji Usługodawcy Usługobiorca zostanie powiadomiony pisemnie
                            na adres podany w liście poleconym zawierającym reklamację.</li>
                        <li>Usługodawca rozpatrując reklamację stosować będzie postanowienia Regulaminu.</li>
                      </ol>                     
                  </div>
              </div><!-- end post-padding -->

              <hr class="invis">

              <div class="course-single-desc clearfix">
                  <div class="rules-title">
                      <p>§ 12</p>
                      <p><b>Postanowienia szczególne dotyczące konsumentów (osób fizycznych)<br></b></p>
                  </div><!-- end big-title -->
                    
                  <div class="rules-content">
                      <ol>
                        <li>Usługobiorcom,
                            będącym konsumentami w rozumieniu przepisów prawa, na podstawie art. 7 ust. 1
                            ustawy z dnia 2 marca 2000 r. o ochronie niektórych praw konsumentów oraz o
                            odpowiedzialności za szkodę wyrządzoną przez produkt niebezpieczny (Dz. U. 2000
                            r., nr 22, poz. 271 ze zm.), przysługuje prawo odstąpienia od każdej umowy o
                            świadczenie Usług zawartej z Usługodawcą, w terminie 10 dni od dnia zawarcia
                            umowy, z zastrzeżeniem § 12 ust. 4 i 5.</li>
                        <li>Oświadczenie o
                            odstąpieniu od umowy powinno zostać sporządzone na piśmie. Dla zachowania
                            terminu, o którym mowa w ust. 1, wystarczy wysłanie oświadczenia listem
                            poleconym na adres Usługodawcy, wskazany w § 1 ust. 1 Regulaminu. Oświadczenie
                            o odstąpieniu od umowy może zostać również złożone w postaci elektronicznej i
                            wysłane Usługodawcy na adres poczty elektronicznej wskazany w § 1 ust. 1
                            Regulaminu.</li>
                        <li>W razie
                            odstąpienia przez Usługobiorcę od umowy o świadczenie Usługi odpłatnej, po
                            dokonaniu płatności, Usługodawca zwraca Usługobiorcy całą opłatę.</li>
                        <li>Usługobiorca
                            zawierający umowę o świadczenie Usługi Szkolenia na mniej niż 10 dni przed
                            dniem Szkolenia, wyraża zgodę na rozpoczęcie świadczenia Usługi szkolenia przed
                            upływem 10-dniowego terminu, o którym mowa w ust. 1 . W takim wypadku prawo
                            odstąpienia od umowy nie przysługuje od momentu rozpoczęcia świadczenia Usługi.</li>
                        <li>Usługobiorca
                            opłacający Usługę e-learning przed upływem 10 dni od dnia zawarcia umowy,
                            wyraża zgodę na rozpoczęcie świadczenia Usługi e-learning niezwłocznie po jej
                            opłaceniu. W takim wypadku prawo odstąpienia od umowy nie przysługuje od
                            momentu rozpoczęcia świadczenia Usługi.</li>
                      </ol>                     
                  </div>
              </div><!-- end post-padding -->

              <hr class="invis">

              <div class="course-single-desc clearfix">
                  <div class="rules-title">
                      <p>§ 13</p>
                      <p><b>Postanowienia końcowe Regulaminu<br></b></p>
                  </div><!-- end big-title -->
                    
                  <div class="rules-content">
                      <ol>
                        <li>Usługodawca ma prawo do jednostronnej zmiany Regulaminu, z zachowaniem praw Usługobiorców, którzy wnieśli opłatę na poczet świadczenia usługi przez Usługodawcę.</li>
                        <li>Wszelkie pytania, opinie i wnioski dotyczące funkcjonowania Serwisu oraz oświadczenia do Usługodawcy Usługobiorca może kierować na adres poczty elektronicznej, wskazany w § 1 ust. 1 Regulaminu.</li>
                        <li>Regulamin wchodzi w życie dnia 23 lipca 2018 r.</li>
                      </ol>                     
                  </div>
              </div><!-- end post-padding -->              
          </div><!-- end col -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end section -->