h1.regulations-title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 35px;
}

div.rules-title {
    text-align: center;
}

div.rules-content {
    text-align: justify;
}