#course-container {
    padding: 100px 0;
}

.page-title {
    padding: 70px 0 !important;
}

.course-table .table > thead > tr > th, .course-table .table > tbody > tr > th, .course-table .table > tfoot > tr > th, .course-table .table > thead > tr > td, .course-table .table > tbody > tr > td, .course-table .table > tfoot > tr > td {
    padding: 20px 20px !important;
}

.fa-status-completed {
    background-color: #60A830 !important;
    border-color: #60A830 !important;
}

.fa-status-unavaiable {
    background-color: #C21807 !important;
    border-color: #C21807 !important;
}

@media (max-width: 767.98px) { 
    #course-container {
        padding: 0 15px;
    }

    .page-title {
        padding: 35px 0 !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #course-container {
        padding: 55px 15px;
    }

    .page-title {
        padding: 55px 0 !important;
    }
}