<div class="page-title bgg">
  <div class="container clearfix">
    <div class="title-area pull-left">
      <h2>Szkolenie okresowe BHP <small>{{course?.name}}</small></h2>
    </div><!-- /.pull-right -->
    <div class="pull-right hidden-xs">
      <div class="bread">
        <ol class="breadcrumb">
          <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
          <li><a routerLinkActive="active" routerLink="/dashboard">Panel Szkoleń BHP</a></li>
          <li><a routerLinkActive="active" routerLink="/dashboard/courses">Kursy</a></li>
          <li class="active">Kurs</li>
        </ol>
      </div><!-- end bread -->
    </div><!-- /.pull-right -->
  </div>
</div><!-- end page-title -->

<section class="section litpadtop bgw">
  <div class="container" id="course-container">
    <div class="row">
      <div id="sidebar" class="col-md-3 col-sm-12 page-left-sidebar">
        <bhp-activity></bhp-activity>
      </div><!-- end right -->

      <div id="post-content" class="col-md-6 col-sm-12 single-course">           
          <div class="course-table clearfix">
              <div class="big-title">
                  <h2 class="related-title">
                      <span>Lekcje szkolenia</span>
                  </h2>
              </div><!-- end big-title -->
              <p *ngIf="course?.activities.length == 0">Ten kurs nie posiada jeszcze żadnych lekcji.</p>
              <table *ngIf="course?.activities.length > 0" class="table">
                  <thead>
                      <tr>
                          <th>Rodzaj</th>
                          <th>Tytuł lekcji</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let activity of course?.activities">
                          <td>
                              <i *ngIf="activity?.activityType == 0" class="fa fa-question-circle"></i>
                              <i *ngIf="activity?.activityType == 1" class="fa fa-play-circle"></i>
                              <i *ngIf="activity?.activityType == 2" class="fa fa-files-o"></i>
                          </td>
                          <td>{{activity?.name}}</td>
                      </tr>
                  </tbody>
              </table>
          </div><!-- end course-table -->            
      </div><!-- end col -->

      <div id="sidebar" class="col-md-3 col-sm-12">
          <div class="post-media clearfix">
              <img src="../../assets/images/small_course_08.jpg" alt="" class="img-responsive">
          </div><!-- end post-media -->
          <div class="widget custom-widget course-pricing clearfix">
              <div class="customwidget text-left w40">
                  <div class="course-meta clearfix">
                      <p class="course-category">Edycja : {{course?.edition}}</p>
                      <hr>
                      <p class="course-category">Kategoria : <a>BHP</a></p>
                      <hr>
                      <div class="rating">
                          <p>Ocena : &nbsp;
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div><!-- end rating -->
                      <hr>
                      <p class="course-time">Rozpoczęcie : {{course?.startDate | date:'dd-MM-yyyy'}} </p>
                      <hr>
                      <p class="course-time">Zakończenie : {{course?.endDate | date:'dd-MM-yyyy'}}</p>
                  </div><!-- end meta -->
              </div><!-- end newsletter -->
          </div><!-- end widget -->
      </div><!-- end col -->
    </div>
  </div>
</section>