<div class="page-title bgg">
  <div class="container clearfix">
      <div class="title-area pull-left">
          <h2>O nas <small>Witamy w naszym serwisie bhp-elearning. Przeczytaj i skorzystaj z naszej oferty!</small></h2>
      </div><!-- /.pull-right -->
      <div class="pull-right hidden-xs">
          <div class="bread">
              <ol class="breadcrumb">
                  <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
                  <li class="active">O nas</li>
              </ol>
          </div><!-- end bread -->
      </div><!-- /.pull-right -->
  </div>
</div><!-- end page-title -->

<section class="section bgw">
  <div class="container">
      <div class="section-title-2 text-center">
          <h2>Jesteśmy BHP-Elearning</h2>
          <p class="lead">Oferujemy szkolenia BHP online ale nie tylko!</p>
          <hr>
      </div><!-- end section-title -->

      <div class="row services-wrapper">
          <div class="col-md-4 col-sm-6">
              <div class="boxes text-center service-first">
                  <h3>Nasza oferta</h3>
                  <p>Pracodawcom i osobom zajmującym się w firmie sprawami kadrowymi proponujemy współpracę w zakresie bezpieczeństwa i higieny pracy oraz ochrony przeciwpożarowej obiektów.</p>
                  <p>Naszym celem jest wszechstronne wsparcie firm w dziedzinie bezpieczeństwa i higieny pracy oraz ochrony przeciwpożarowej, dlatego też oferujemy kompleksową obsługę w tym zakresie.</p>
                  <p>Oferta skierowana jest do pracodawców ceniących sobie wysoką jakość usług i indywidualne podejście za przystępną cenę oraz terminowość realizacji powierzonych zadań.</p>
              </div><!-- end box -->
          </div><!-- end col -->

          <div class="col-md-8 col-sm-6">
            <div class="row ofert-content">
                <div class="col-md-12 col-sm-12">
                    <div class="boxes text-left service-first withcircle withborder leftservice">
                        <i class="fa fa-pencil alignleft"></i>
                        <h3>Beautiful Blogs</h3>
                        <p>Professional responsive and retina ready template for online learning websites!</p>
                    </div>                                   
                </div>
            </div>
              
            <div class="row ofert-content">
                <div class="col-md-12 col-sm-12">
                    <div class="boxes text-left service-first withcircle withborder leftservice">
                        <i class="fa fa-pencil alignleft"></i>
                        <h3>Beautiful Blogs</h3>
                        <p>Professional responsive and retina ready template for online learning websites!</p>
                    </div>                                   
                </div>
            </div>

            <div class="row ofert-content">
                <div class="col-md-12 col-sm-12">
                    <div class="boxes text-left service-first withcircle withborder leftservice">
                        <i class="fa fa-pencil alignleft"></i>
                        <h3>Beautiful Blogs</h3>
                        <p>Professional responsive and retina ready template for online learning websites!</p>
                    </div>                                   
                </div>
            </div>

            <div class="row ofert-content">
                <div class="col-md-12 col-sm-12">
                    <div class="boxes text-left service-first withcircle withborder leftservice">
                        <i class="fa fa-pencil alignleft"></i>
                        <h3>Beautiful Blogs</h3>
                        <p>Professional responsive and retina ready template for online learning websites!</p>
                    </div>                                   
                </div>
            </div>

            <div class="row ofert-content">
                <div class="col-md-12 col-sm-12">
                    <div class="boxes text-left service-first withcircle withborder leftservice">
                        <i class="fa fa-pencil alignleft"></i>
                        <h3>Beautiful Blogs</h3>
                        <p>Professional responsive and retina ready template for online learning websites!</p>
                    </div>                                   
                </div>
            </div>
          </div><!-- end col -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end section -->

<section class="section bgd btop">
    <div class="row-fluid">
        <div class="col-md-6 myimg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <div class="about-module wpa">
                        <h4>LEARN ANYTHING FROM ANYWHERE</h4>

                        <h3>Professional Course Builder</h3>

                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised believable. Sufferede foshumour, or randomised..</p>


                        <p>But the majority have suffered alteration in some form, by injected humour, or randomised believable. Suffered alteration in some form, by injected humour, or randomised..</p>

                        <a href="#" class="btn btn-primary btn-square">START HERE</a>
                    </div><!-- end about-module -->
                </div>
            </div><!--end of row-->
        </div><!-- end container -->
    </div><!-- end row fluid -->
</section>

<section class="section bgw">
    <div class="container">

        <div class="section-title-2 text-center">
            <h2>CONTACT DETAILS</h2>
            <p class="lead">For your pre-sale questions, please use form below</p>
            <hr>
        </div><!-- end section-title -->

        <div class="row">
            <div class="col-md-5">
                <div class="widget">
                    <p>If you need help before, during or after your purchase, this is the place to be. Please use below contact details for all your pre-sale questions, contact questions.</p>
                    <hr>
                    <ul class="contact-details">
                        <li><i class="fa fa-link"></i> <a href="#">www.yoursite.com</a></li>
                        <li><i class="fa fa-envelope-o"></i> <a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                        <li><i class="fa fa-phone"></i> +90 123 45 67</li>
                        <li><i class="fa fa-fax"></i> +90 123 45 68</li>
                        <li><i class="fa fa-home"></i> Envato INC 22 Elizabeth St.</li>
                    </ul>
                    <hr>
                    <div class="social-icons">
                        <ul class="list-inline">
                        <li class="facebook"><a data-toggle="tooltip" data-placement="top" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="google"><a data-toggle="tooltip" data-placement="top" title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="twitter"><a data-toggle="tooltip" data-placement="top" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="linkedin"><a data-toggle="tooltip" data-placement="top" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="pinterest"><a data-toggle="tooltip" data-placement="top" title="Pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li class="skype"><a data-toggle="tooltip" data-placement="top" title="Skype" href="#"><i class="fa fa-skype"></i></a></li>
                        <li class="vimeo"><a data-toggle="tooltip" data-placement="top" title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a></li>
                        <li class="youtube"><a data-toggle="tooltip" data-placement="top" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div><!-- end social icons -->
                </div><!-- end widget -->
            </div>   
            <div class="col-md-7">
                <div class="contact_form">
                    <div id="message"></div>
                    <form id="contactform" class="row" action="contact.php" name="contactform" method="post">
                        <div class="col-md-12">
                        <input type="text" name="name" id="name" class="form-control" placeholder="Name"> 
                        <input type="text" name="email" id="email" class="form-control" placeholder="Email"> 
                        <input type="text" name="name" id="phone" class="form-control" placeholder="Phone"> 
                        <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Message Below"></textarea>
                        <button type="submit" value="SEND" id="submit" class="btn btn-primary"> Send Form</button>
                        </div>
                    </form> 
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->