<div class="page-title bgg">
  <div class="container clearfix">
      <div class="title-area pull-left">
          <h2>Twoje kursy <small>Poniżej znajuje się lista nadchodzących, aktualnych oraz ukończonych kursów.</small></h2>
      </div><!-- /.pull-right -->
      <div class="pull-right hidden-xs">
          <div class="bread">
              <ol class="breadcrumb">
                  <li><a routerLinkActive="active" routerLink="/">Strona Główna</a></li>
                  <li><a routerLinkActive="active" routerLink="/dashboard">Panel Szkoleń BHP</a></li>
                  <li class="active">Kursy</li>
              </ol>
          </div><!-- end bread -->
      </div><!-- /.pull-right -->
  </div>
</div><!-- end page-title -->

<section class="section litpadtop bgw">
  <div class="container" id="courses-container">
    <div class="row">
        <div id="sidebar" class="col-md-3 col-sm-12 page-left-sidebar">
          <bhp-activity></bhp-activity>
        </div><!-- end right -->

        <div id="sidebar1" class="col-md-9 col-sm-12">
            <div class="widget clearfix">
                <div class="member-profile">
                    <!-- Incoming courses section -->
                    <div *ngIf="incomingCourses.length > 0" class="big-title">
                        <h2 class="related-title">
                            <span>Nadchodzące Kursy</span>
                        </h2>
                    </div><!-- end big-title -->

                    <div *ngIf="incomingCourses.length > 0" class="postpager liststylepost membercourses">
                        <ul class="pager">
                            <li *ngFor="let course of activeCourses">
                                <div class="post">
                                    <a href="course-single.html">
                                        <img alt="" src="../../../assets/images/pager_01.png" class="img-responsive alignleft">
                                        <h4>{{course.name}}</h4>
                                        <small>Wejdź do kursu</small> 
                                    </a>
                                        &nbsp;-&nbsp;
                                    <small>Rozpoczęcie : {{course.startDate | date:'dd-MM-yyyy'}}</small>
                                </div>  
                            </li>
                        </ul>   
                    </div><!-- end postpager -->

                    <hr *ngIf="incomingCourses.length > 0" class="invis">
                    <br *ngIf="incomingCourses.length > 0">

                    <!-- Active courses section -->
                    <div *ngIf="activeCourses.length > 0" class="big-title">
                        <h2 class="related-title">
                            <span>Aktywne Kursy</span>
                        </h2>
                    </div><!-- end big-title -->

                    <div *ngIf="activeCourses.length > 0" class="postpager liststylepost membercourses">
                        <ul class="pager">
                            <li *ngFor="let course of activeCourses">
                                <div class="post">
                                    <a href="course-single.html">
                                        <img alt="" src="../../../assets/images/pager_01.png" class="img-responsive alignleft">
                                        <h4>{{course.name}}</h4>
                                        <small>Wejdź do kursu</small> 
                                    </a>
                                        &nbsp;-&nbsp;
                                    <small>Zakończenie : {{course.endDate | date:'dd-MM-yyyy'}}</small>
                                </div>  
                            </li>
                        </ul>   
                    </div><!-- end postpager -->

                    <!-- Expired courses section -->
                    <hr *ngIf="expiredCourses.length > 0" class="invis">
                    <br *ngIf="expiredCourses.length > 0">

                    <div *ngIf="expiredCourses.length > 0" class="big-title">
                        <h2 class="related-title">
                            <span>Ukończone kursy</span>
                        </h2>
                    </div><!-- end big-title -->

                    <div *ngIf="expiredCourses.length > 0" class="postpager liststylepost membercourses">
                        <ul class="pager">  
                            <li *ngFor="let course of expiredCourses">
                                <div class="post">
                                    <a>
                                        <img alt="" src="../../../assets/images/pager_01.png" class="img-responsive alignleft">
                                        <h4>{{course.name}}</h4>
                                        <small>Zakończony</small>
                                    </a>
                                </div>  
                            </li>
                        </ul>   
                    </div><!-- end postpager -->
                </div><!-- end team-member -->
            </div>
        </div><!-- end right -->
    </div><!-- end row -->
  </div><!-- end container -->
</section>