<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="../../assets/images/slider/slide1.jpg" class="img-responsive" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
          <h1>Los Angeles</h1>
          <p>LA is always so much fun!</p>
        </div>
      </div>

      <div class="item">
        <img src="../../assets/images/slider/slide2.jpg" class="img-responsive" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h1>Chicago</h1>
          <p>Thank you, Chicago!</p>
        </div>
      </div>
    
      <div class="item">
        <img src="../../assets/images/slider/slide3.jpg" class="img-responsive" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h1>New York</h1>
          <p>We love the Big Apple!</p>
        </div>
      </div>

      <div class="item">
        <img src="../../assets/images/slider/slide4.jpg" class="img-responsive" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h1>New York</h1>
          <p>We love the Big Apple!</p>
        </div>
      </div>

      <div class="item">
        <img src="../../assets/images/slider/slide5.jpg" class="img-responsive" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h1>New York</h1>
          <p>We love the Big Apple!</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<section class="section bgg">
  <div class="container">
      <div class="section-title-2 text-center">
          <h2>WELCOME TO THE TEACHME</h2>
          <p class="lead">We build awesome course & university sites! Don't miss out join us today!</p>
          <hr>
      </div><!-- end section-title -->
      <div class="row text-center">
          <div class="col-md-4 col-sm-12 mob20">
              <div class="boxes text-center service-first noafter nobgwithicon">
                  <i class="fa fa-graduation-cap fa-3x"></i>
                  <h3>Custom Courses</h3>
                  <p>Professional responsive and retina ready template for online learning websites!</p>
                  <a href="#" class="btn btn-primary btn-trans btn-radius">Read More</a>
              </div><!-- end box -->
          </div><!-- end col -->

          <div class="col-md-4 col-sm-12 mob20">

              <div class="boxes text-center service-first noafter nobgwithicon">
                  <i class="fa fa-university fa-3x"></i>
                  <h3>Awesome Teachers</h3>
                  <p>Professional responsive and retina ready template for online learning websites!</p>
                  <a href="#" class="btn btn-primary btn-trans btn-radius">Read More</a>
              </div><!-- end box -->
          </div><!-- end col -->

          <div class="col-md-4 col-sm-12">
              <div class="boxes text-center service-first noafter nobgwithicon">
                  <i class="fa fa-columns fa-3x"></i>
                  <h3>Pro Dashboards</h3>
                  <p>Professional responsive and retina ready template for online learning websites!</p>
                  <a href="#" class="btn btn-primary btn-trans btn-radius">Read More</a>
              </div><!-- end box -->
          </div><!-- end col -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end section -->

<section class="section bgw">
  <div class="container">
    <div class="section-title-2 text-center">
      <h2>SZKOLENIA OKRESOWE BHP</h2>
      <p class="lead">Wszystkie szkolenia BHP dostępne w naszej ofercie!</p>
      <hr>
    </div><!-- end section-title -->

      <div class="row course-wrapper display-flex">

          <div *ngFor="let course of courses" class="col-md-4 col-sm-6 col-xs-12">
              <div class="shop-item">
                  <div class="post-media entry">
                      <!-- if promo on below is html with nice promo skin -->
                      <!-- <div class="ribbon-wrapper-green"><div class="ribbon-green">Featured</div></div> -->
                      <img src="../../assets/images/course_02.jpg" alt="" class="img-responsive">
                      <div class="magnifier">
                          <div class="shop-bottom clearfix">
                              <a (click)="addToCart(course)" title="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a>&nbsp;
                              <a title="Zobacz szczegóły" routerLinkActive="active" [routerLink]="['/course', course.id]"><i class="fa fa-search"></i></a>
                          </div><!-- end shop-bottom -->
                      </div><!-- end magnifier -->
                  </div><!-- end post-media -->
                  <div class="shop-desc">
                      <div class="shop-price clearfix">
                          <div class="pull-left">
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div><!-- end rating -->
                          </div><!-- end left -->
                          <div class="pull-right">
                              <small>{{course.price}}&nbsp;PLN</small>
                          </div><!-- end right -->
                      </div>
                      <h3><a href="course-single.html" title="">{{course.name}}</a></h3>
                  </div>

                  <div class="large-post-meta">
                      <span><i class="fa fa-clock-o"></i> {{course.startDate | date:'dd-MM-yyyy'}} - {{course.endDate | date:'dd-MM-yyyy'}}</span>
                  </div><!-- end meta -->
              </div><!-- end shop-item -->
          </div><!-- end carousel-item -->

      </div><!-- end carousel-wrapper -->
  </div><!-- end container -->
</section><!-- end section -->