<div class="first-slider">
    <div id="rev_slider_213_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="woocommercebig" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <div id="rev_slider_213_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.1.1RC">
            <ul>
                <li data-index="rs-867811" data-transition="slideremovehorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="upload/dummy.png" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off" data-title="Premium Computer Hardware" data-description="">
                    <img src="../../assets/images/slider/slide1.jpg" alt="" width="1200" height="600" data-lazyload="../../assets/images/slider/slide1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                    
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
                        id="slide-8678-layer-111" 
                        data-x="['left','left','left','left']" 
                        data-hoffset="['30','30','30','30']" 
                        data-y="['top','top','top','top']" 
                        data-voffset="['30','30','30','30']" 
                        data-width="['430','430','430','420']" 
                        data-height="540" 
                        data-whitespace="nowrap" 
                        data-transform_idle="o:1;" 
                        data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" 
                        data-transform_out="x:left;s:1200;e:Power3.easeInOut;s:1200;e:Power3.easeInOut;" 
                        data-start="500" 
                        data-responsive_offset="on" 
                        style="z-index: 5;background-color:rgba(255, 255, 255, 0.8);border-color:rgba(0, 0, 0, 0);">
                    </div>

                    <div class="tp-caption Woo-TitleLarge   tp-resizeme" 
                        id="slide-8678-layer-211" 
                        data-x="['left','left','left','left']" 
                        data-hoffset="['60','60','60','55']" 
                        data-y="['top','top','top','top']" 
                        data-voffset="['110','110','110','110']" 
                        data-width="370" 
                        data-height="none" 
                        data-whitespace="normal" 
                        data-transform_idle="o:1;" 
                        data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" 
                        data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                        data-start="600" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        style="z-index: 6; min-width: 370px; max-width: 370px; white-space: normal;text-align:center;">Web Design Course
                    </div>

                    <div class="tp-caption Woo-Rating  tp-resizeme" 
                        id="slide-8678-layer-611" 
                        data-x="['left','left','left','left']" 
                        data-hoffset="['60','60','60','55']" 
                        data-y="['top','top','top','top']" 
                        data-voffset="['150','150','150','150']"
                        data-width="370" 
                        data-height="none" 
                        data-whitespace="normal" 
                        data-transform_idle="o:1;" 
                        data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" 
                        data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                        data-start="700" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        style="z-index: 7; min-width: 370px; max-width: 370px; white-space: normal; line-height: 22px;text-align:center;">
                        <div class="rs-starring rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div> (3 customer reviews)
                    </div>

                    <div class="tp-caption Woo-Text tp-resizeme" 
                        id="slide-8678-layer-911" 
                        data-x="['left','left','left','left']" 
                        data-hoffset="['60','60','60','55']"
                        data-y="['top','top','top','top']" 
                        data-voffset="['205','205','205','205']" 
                        data-width="370" 
                        data-height="none" 
                        data-whitespace="normal" 
                        data-transform_idle="o:1;" 
                        data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" 
                        data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                        data-start="800" data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        style="z-index: 8; min-width: 370px; max-width: 370px; white-space: normal; line-height: 22px;text-align:center;">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio.
                    </div>

                    <div class="tp-caption Woo-SubTitle tp-resizeme" 
                        id="slide-8678-layer-1011" 
                        data-x="['left','left','left','left']" 
                        data-hoffset="['60','59','59','55']" 
                        data-y="['top','top','top','top']" 
                        data-voffset="['350','350','350','350']" 
                        data-width="370" 
                        data-height="none" 
                        data-whitespace="normal" 
                        data-transform_idle="o:1;" 
                        data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" 
                        data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                        data-start="900" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        style="z-index: 9; min-width: 370px; max-width: 370px; white-space: normal;text-align:center;">STARTING FROM
                    </div>

                    <div class="tp-caption Woo-PriceLarge tp-resizeme" 
                        id="slide-8678-layer-1111" 
                        data-x="['left','left','left','left']"
                        data-hoffset="['60','60','60','55']" 
                        data-y="['top','top','top','top']" 
                        data-voffset="['380','380','380','380']" 
                        data-width="370" 
                        data-height="none" 
                        data-whitespace="normal" 
                        data-transform_idle="o:1;" 
                        data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" 
                        data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        style="z-index: 10; min-width: 370px; max-width: 370px; white-space: normal; font-size: 40px; line-height: 40px;text-align:center;"><span class="amount">&#36;100.00</span>
                    </div>

                    <a class="tp-caption button button--ujarak rev-btn tp-resizeme" 
                        href="#" 
                        target="_self" id="slide-8678-layer-141" 
                        data-x="['left','left','left','left']" 
                        data-hoffset="['60','60','60','55']" 
                        data-y="['top','top','top','top']" 
                        data-voffset="['449','449','449','450']" 
                        data-width="370" 
                        data-height="none" 
                        data-whitespace="nowrap" 
                        data-transform_idle="o:1;" 
                        data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Power1.easeInOut;" 
                        data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(221, 221, 221, 1.00);cursor:pointer;" 
                        data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" 
                        data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                        data-start="1100" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-actions='' 
                        data-responsive_offset="on" 
                        style="z-index: 11; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"> JOIN THE COURSE
                    </a>
                </li>

                <li data-index="rs-8678" data-transition="slideremovehorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="upload/dummy.png" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off" data-title="Premium Computer Hardware" data-description="">
                    <img src="../../assets/images/slider/slide2.jpg" alt="" width="1200" height="600" data-lazyload="../../assets/images/slider/slide2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                    
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
                        id="slide-8678-layer-1" 
                        data-x="['left','left','left','left']" 
                        data-hoffset="['30','30','30','30']" 
                        data-y="['top','top','top','top']" 
                        data-voffset="['30','30','30','30']" 
                        data-width="['430','430','430','420']" 
                        data-height="540" 
                        data-whitespace="nowrap" 
                        data-transform_idle="o:1;" 
                        data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" 
                        data-transform_out="x:left;s:1200;e:Power3.easeInOut;s:1200;e:Power3.easeInOut;" 
                        data-start="500" 
                        data-responsive_offset="on" 
                        style="z-index: 5;background-color:rgba(255, 255, 255, 0.8);border-color:rgba(0, 0, 0, 0);">
                    </div>

                    <div class="tp-caption Woo-TitleLarge   tp-resizeme" id="slide-8678-layer-2" 
                        data-x="['left','left','left','left']" 
                        data-hoffset="['60','60','60','55']" 
                        data-y="['top','top','top','top']" 
                        data-voffset="['110','110','110','110']" 
                        data-width="370" 
                        data-height="none" 
                        data-whitespace="normal" 
                        data-transform_idle="o:1;" 
                        data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" 
                        data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                        data-start="600" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        style="z-index: 6; min-width: 370px; max-width: 370px; white-space: normal;text-align:center;">System Networking
                    </div>

                    <div class="tp-caption Woo-Rating  tp-resizeme" id="slide-8678-layer-6" 
                        data-x="['left','left','left','left']" 
                        data-hoffset="['60','60','60','55']" 
                        data-y="['top','top','top','top']" 
                        data-voffset="['150','150','150','150']"
                        data-width="370" 
                        data-height="none" 
                        data-whitespace="normal" 
                        data-transform_idle="o:1;" 
                        data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" 
                        data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                        data-start="700" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        style="z-index: 7; min-width: 370px; max-width: 370px; white-space: normal; line-height: 22px;text-align:center;">
                        <div class="rs-starring rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div> (31 customer reviews)
                    </div>

                    <div class="tp-caption Woo-Text tp-resizeme" 
                        id="slide-8678-layer-9" 
                        data-x="['left','left','left','left']" 
                        data-hoffset="['60','60','60','55']"
                        data-y="['top','top','top','top']" 
                        data-voffset="['205','205','205','205']" 
                        data-width="370" 
                        data-height="none" 
                        data-whitespace="normal" 
                        data-transform_idle="o:1;" 
                        data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" 
                        data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                        data-start="800" data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        style="z-index: 8; min-width: 370px; max-width: 370px; white-space: normal; line-height: 22px;text-align:center;">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio.
                    </div>

                    <div class="tp-caption Woo-SubTitle tp-resizeme" 
                        id="slide-8678-layer-10" 
                        data-x="['left','left','left','left']" 
                        data-hoffset="['60','59','59','55']" 
                        data-y="['top','top','top','top']" 
                        data-voffset="['350','350','350','350']" 
                        data-width="370" 
                        data-height="none" 
                        data-whitespace="normal" 
                        data-transform_idle="o:1;" 
                        data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" 
                        data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                        data-start="900" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        style="z-index: 9; min-width: 370px; max-width: 370px; white-space: normal;text-align:center;">STARTING FROM
                    </div>

                    <div class="tp-caption Woo-PriceLarge tp-resizeme" 
                        id="slide-8678-layer-11" 
                        data-x="['left','left','left','left']"
                        data-hoffset="['60','60','60','55']" 
                        data-y="['top','top','top','top']" 
                        data-voffset="['380','380','380','380']" 
                        data-width="370" 
                        data-height="none" 
                        data-whitespace="normal" 
                        data-transform_idle="o:1;" 
                        data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" 
                        data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        style="z-index: 10; min-width: 370px; max-width: 370px; white-space: normal; font-size: 40px; line-height: 40px;text-align:center;"><span class="amount">&#36;90.00</span>
                    </div>

                    <a class="tp-caption button button--ujarak rev-btn tp-resizeme" 
                        href="#" 
                        target="_self" id="slide-8678-layer-14" 
                        data-x="['left','left','left','left']" 
                        data-hoffset="['60','60','60','55']" 
                        data-y="['top','top','top','top']" 
                        data-voffset="['449','449','449','450']" 
                        data-width="370" 
                        data-height="none" 
                        data-whitespace="nowrap" 
                        data-transform_idle="o:1;" 
                        data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Power1.easeInOut;" 
                        data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(221, 221, 221, 1.00);cursor:pointer;" 
                        data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" 
                        data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                        data-start="1100" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-actions='' 
                        data-responsive_offset="on" 
                        style="z-index: 11; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"> JOIN THE COURSE
                    </a>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div><!-- END REVOLUTION SLIDER -->
</div><!-- end slider -->

<section class="section bgg">
  <div class="container">
      <div class="section-title-2 text-center">
          <h2>WELCOME TO THE TEACHME</h2>
          <p class="lead">We build awesome course & university sites! Don't miss out join us today!</p>
          <hr>
      </div><!-- end section-title -->
      <div class="row text-center">
          <div class="col-md-4 col-sm-12 mob20">
              <div class="boxes text-center service-first noafter nobgwithicon">
                  <i class="fa fa-graduation-cap fa-3x"></i>
                  <h3>Custom Courses</h3>
                  <p>Professional responsive and retina ready template for online learning websites!</p>
                  <a href="#" class="btn btn-primary btn-trans btn-radius">Read More</a>
              </div><!-- end box -->
          </div><!-- end col -->

          <div class="col-md-4 col-sm-12 mob20">

              <div class="boxes text-center service-first noafter nobgwithicon">
                  <i class="fa fa-university fa-3x"></i>
                  <h3>Awesome Teachers</h3>
                  <p>Professional responsive and retina ready template for online learning websites!</p>
                  <a href="#" class="btn btn-primary btn-trans btn-radius">Read More</a>
              </div><!-- end box -->
          </div><!-- end col -->

          <div class="col-md-4 col-sm-12">
              <div class="boxes text-center service-first noafter nobgwithicon">
                  <i class="fa fa-columns fa-3x"></i>
                  <h3>Pro Dashboards</h3>
                  <p>Professional responsive and retina ready template for online learning websites!</p>
                  <a href="#" class="btn btn-primary btn-trans btn-radius">Read More</a>
              </div><!-- end box -->
          </div><!-- end col -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end section -->

<section class="section bgw">
  <div class="container">
    <div class="section-title-2 text-center">
      <h2>TOP COURSES</h2>
      <p class="lead">We build awesome course & university sites! Don't miss out join us today!</p>
      <hr>
    </div><!-- end section-title -->

      <div class="row course-wrapper">
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="shop-item">
                  <div class="post-media entry">
                      <!-- <div class="ribbon-wrapper-green"><div class="ribbon-green">Featured</div></div> -->
                      <img src="upload/course_01.jpg" alt="" class="img-responsive">
                      <div class="magnifier">
                          <div class="shop-bottom clearfix">
                              <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                              <a href="course-single.html" title="Full Preview"><i class="fa fa-search"></i></a>
                          </div><!-- end shop-bottom -->
                      </div><!-- end magnifier -->
                  </div><!-- end post-media -->
                  <div class="shop-desc">
                      <div class="shop-price clearfix">
                          <div class="pull-left">
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div><!-- end rating -->
                          </div><!-- end left -->
                          <div class="pull-right">
                              <small>$100.00</small>
                          </div><!-- end right -->
                      </div>
                      <h3><a href="course-single.html" title="">Getting Starting with Bootstrap Framework</a></h3>
                  </div>

                  <div class="large-post-meta">
                      <span class="avatar"><a href="member-profile.html"><img src="upload/avatar_02.png" alt="" class="img-circle"> Amanda DOE</a></span>
                      <small>&#124;</small>
                      <span><a href="course-single.html"><i class="fa fa-clock-o"></i> 2 Month</a></span>
                      <small class="hidden-xs">&#124;</small>
                      <span class="hidden-xs"><a href="course-single.html"><i class="fa fa-graduation-cap"></i> 12 Students</a></span>
                  </div><!-- end meta -->
              </div><!-- end shop-item -->
          </div><!-- end carousel-item -->

          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="shop-item">
                  <div class="post-media entry">
                      <img src="upload/course_02.jpg" alt="" class="img-responsive">
                      <div class="magnifier">
                          <div class="shop-bottom clearfix">
                              <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                              <a href="course-single.html" title="Full Preview"><i class="fa fa-search"></i></a>
                          </div><!-- end shop-bottom -->
                      </div><!-- end magnifier -->
                  </div><!-- end post-media -->
                  <div class="shop-desc">
                      <div class="shop-price clearfix">
                          <div class="pull-left">
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div><!-- end rating -->
                          </div><!-- end left -->
                          <div class="pull-right">
                              <small>$55.00</small>
                          </div><!-- end right -->
                      </div>
                      <h3><a href="course-single.html" title="">Learning WordPress Content Management System</a></h3>
                  </div>

                  <div class="large-post-meta">
                      <span class="avatar"><a href="member-profile.html"><img src="upload/avatar_01.png" alt="" class="img-circle"> Jenny DOE</a></span>
                      <small>&#124;</small>
                      <span><a href="course-single.html"><i class="fa fa-clock-o"></i> 1 Month</a></span>
                      <small class="hidden-xs">&#124;</small>
                      <span class="hidden-xs"><a href="course-single.html"><i class="fa fa-graduation-cap"></i> 63 Students</a></span>
                  </div><!-- end meta -->
              </div><!-- end shop-item -->
          </div><!-- end carousel-item -->

          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="shop-item">
                  <div class="post-media entry">
                      <img src="upload/course_03.jpg" alt="" class="img-responsive">
                      <div class="magnifier">
                          <div class="shop-bottom clearfix">
                              <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                              <a href="course-single.html" title="Full Preview"><i class="fa fa-search"></i></a>
                          </div><!-- end shop-bottom -->
                      </div><!-- end magnifier -->
                  </div><!-- end post-media -->
                  <div class="shop-desc">
                      <div class="shop-price clearfix">
                          <div class="pull-left">
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div><!-- end rating -->
                          </div><!-- end left -->
                          <div class="pull-right">
                              <small>$57.00</small>
                          </div><!-- end right -->
                      </div>
                      <h3><a href="course-single.html" title="">How to write a 10-finger keyboard with Laptop</a></h3>
                  </div>

                  <div class="large-post-meta">
                      <span class="avatar"><a href="member-profile.html"><img src="upload/avatar_03.png" alt="" class="img-circle"> John DOE</a></span>
                      <small>&#124;</small>
                      <span><a href="course-single.html"><i class="fa fa-clock-o"></i> 3 Month</a></span>
                      <small class="hidden-xs">&#124;</small>
                      <span class="hidden-xs"><a href="course-single.html"><i class="fa fa-graduation-cap"></i> 66 Students</a></span>
                  </div><!-- end meta -->
              </div><!-- end shop-item -->
          </div><!-- end carousel-item -->

          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="shop-item">
                  <div class="post-media entry">
                      <img src="upload/course_04.jpg" alt="" class="img-responsive">
                      <div class="magnifier">
                          <div class="shop-bottom clearfix">
                              <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                              <a href="course-single.html" title="Full Preview"><i class="fa fa-search"></i></a>
                          </div><!-- end shop-bottom -->
                      </div><!-- end magnifier -->
                  </div><!-- end post-media -->
                  <div class="shop-desc">
                      <div class="shop-price clearfix">
                          <div class="pull-left">
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div><!-- end rating -->
                          </div><!-- end left -->
                          <div class="pull-right">
                              <small>$55.00</small>
                          </div><!-- end right -->
                      </div>
                      <h3><a href="course-single.html" title="">Professional Social Media Management</a></h3>
                  </div>

                  <div class="large-post-meta">
                      <span class="avatar"><a href="member-profile.html"><img src="upload/avatar_02.png" alt="" class="img-circle"> Amanda DOE</a></span>
                      <small>&#124;</small>
                      <span><a href="course-single.html"><i class="fa fa-clock-o"></i> 2 Month</a></span>
                      <small class="hidden-xs">&#124;</small>
                      <span class="hidden-xs"><a href="course-single.html"><i class="fa fa-graduation-cap"></i> 12 Students</a></span>
                  </div><!-- end meta -->
              </div><!-- end shop-item -->
          </div><!-- end carousel-item -->

          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="shop-item">
                  <div class="post-media entry">
                      <img src="upload/course_05.jpg" alt="" class="img-responsive">
                      <div class="magnifier">
                          <div class="shop-bottom clearfix">
                              <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                              <a href="course-single.html" title="Full Preview"><i class="fa fa-search"></i></a>
                          </div><!-- end shop-bottom -->
                      </div><!-- end magnifier -->
                  </div><!-- end post-media -->
                  <div class="shop-desc">
                      <div class="shop-price clearfix">
                          <div class="pull-left">
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div><!-- end rating -->
                          </div><!-- end left -->
                          <div class="pull-right">
                              <small>$90.00</small>
                          </div><!-- end right -->
                      </div>
                      <h3><a href="course-single.html" title="">Systems and Network Professional Gateway</a></h3>
                  </div>

                  <div class="large-post-meta">
                      <span class="avatar"><a href="member-profile.html"><img src="upload/avatar_01.png" alt="" class="img-circle"> Jenny DOE</a></span>
                      <small>&#124;</small>
                      <span><a href="course-single.html"><i class="fa fa-clock-o"></i> 1 Month</a></span>
                      <small class="hidden-xs">&#124;</small>
                      <span class="hidden-xs"><a href="course-single.html"><i class="fa fa-graduation-cap"></i> 63 Students</a></span>
                  </div><!-- end meta -->
              </div><!-- end shop-item -->
          </div><!-- end carousel-item -->

          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="shop-item">
                  <div class="post-media entry">
                      <img src="upload/course_06.jpg" alt="" class="img-responsive">
                      <div class="magnifier">
                          <div class="shop-bottom clearfix">
                              <a href="course-checkout.html" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                              <a href="course-single.html" title="Full Preview"><i class="fa fa-search"></i></a>
                          </div><!-- end shop-bottom -->
                      </div><!-- end magnifier -->
                  </div><!-- end post-media -->
                  <div class="shop-desc">
                      <div class="shop-price clearfix">
                          <div class="pull-left">
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div><!-- end rating -->
                          </div><!-- end left -->
                          <div class="pull-right">
                              <small>$112.00</small>
                          </div><!-- end right -->
                      </div>
                      <h3><a href="course-single.html" title="">The benefits of teamwork with Responsiveness</a></h3>
                  </div>

                  <div class="large-post-meta">
                      <span class="avatar"><a href="member-profile.html"><img src="upload/avatar_03.png" alt="" class="img-circle"> John DOE</a></span>
                      <small>&#124;</small>
                      <span><a href="course-single.html"><i class="fa fa-clock-o"></i> 3 Month</a></span>
                      <small class="hidden-xs">&#124;</small>
                      <span class="hidden-xs"><a href="course-single.html"><i class="fa fa-graduation-cap"></i> 66 Students</a></span>
                  </div><!-- end meta -->
              </div><!-- end shop-item -->
          </div><!-- end carousel-item -->
      </div><!-- end carousel-wrapper -->
  </div><!-- end container -->
</section><!-- end section -->